.footer {
	left: 0px;
	width: 100%;
	bottom: 0px;
	height: 192px;
	color: #bebebe;
	overflow: hidden;
	position: absolute;
	text-align: center;
	font-family: 'ProximaNova-Light';

	@mixin screen_to, $mobile {
		height: auto;
		position: relative;
	}

	&_wrap {
		margin: 0px auto;
		padding: 50px 0px;
		max-width: 1440px;

		@mixin screen_to, $mobile {
			max-width: $mw;
			padding: 37px 15px 20px;
		}
	
		p {
			margin: 15px 0px 0px;
		}
		a {
			color: #103675;
			text-decoration: none;
			font-family: 'ProximaNova-Light';
	
			&:hover {
				color: #a0a2ad;
			}
		}
	}
	&_info {
		font-size: 88%;
		margin-top: 25px;
		
		p {
			margin: 0px;
		}
		a {
			color: #bebebe;

			&:hover {
				color: #103675;
			}
		}
	}
	&_notice {
		font-size: 78%;
		margin-top: 8px;
		color: #bebebe;
	}
}