.header {
	z-index: 550;
	user-select: none;
	background: #fff;
	position: relative;

	@mixin screen_to, $mobile {
		top: 0px;
		left: 0px;
		width: 100%;
		position: fixed;
	}

	/*[scheme][:]*/
	&_top {
		z-index: 400;
		height: 100px;
		background: #fff;
		position: relative;
		border-bottom: solid 1px $c3;

		@mixin screen_to, $mobile {
			height: 50px;
		}
	}
	&_wrap {
		margin: 0px auto;
		max-width: 1440px;

		@mixin screen_to, $mobile {
			max-width: 568px;
		}

		&:after {
			width: 100%;
			content: '';
			display: table;
		}
	}
	/*[scheme][;]*/

	/*[object][:]*/
	&_logo {
		float: right;
		width: 200px;
		height: 99px;
		display: block;
		position: relative;
		margin-right: 60px;
		background: url('/assets/img/elements/logo.png') 50% no-repeat;
		background-size: 100% auto;

		@mixin screen_to, $mobile {
			float: left;
			width: 100px;
			height: 50px;
			margin: 0px 0px 0px 15px;
		}
	}
	/*[object][;]*/

	&._index {
		box-shadow: 0px 1px 5px 0px rgba(0,0,0,.15);
	}
}


