.preloader {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 10000;
	position: fixed;
	overflow: hidden;
	flex-flow: column;
	background: #fff;
	text-align: center;
	justify-content: center;

	&_label {
		color: #103675;
		font-size: 24px;
		min-width: 200px;
		position: relative;
		line-height: normal;
		padding: 0px 0px 15px;
		display: inline-block;
		text-transform: uppercase;
		font-family: 'Geometria-Bold';

		&:after {
			left: 0px;
			bottom: 0px;
			content: '';
			width: 100%;
			height: 10px;
			display: block;
			position: absolute;
			background: #fff url(/assets/img/elements/preloader.gif) center bottom no-repeat;
		}
	}
}