.ffind {
	height: 103px;
	max-width: 900px;
	margin: 80px auto;
	position: relative;

	@mixin screen_to, $mobile {
		height: 40px;
		max-width: $mw;
		padding: 0px 15px;
		margin: 20px auto 0px;
	}

	&:before {
		top: 0px;
		left: 0px;
		z-index: 30;
		content: '';
		width: 98px;
		height: 100%;
		display: block;
		position: absolute;
		background: url(/assets/img/elements/site/ico/1-[30x32]-3.png) center no-repeat;
		background-size: 15px 16px;

		@mixin screen_to, $mobile {
			content: normal;
		}
	}

	&_input {
		width: 100%;
		height: 100%;
		color: #000;
		padding: 10px;
		padding: 0px 98px;
		background: #fff;
		border: solid 1px #ebebeb;
		font-family: 'Geometria-Medium';

		@mixin screen_to, $mobile {
			padding: 0px 40px 0px 15px;
		}

		&:focus {
			border-color: #ebebeb;
		}
	}
	&_submit {
		top: 0px;
		right: 0px;
		z-index: 30;
		width: 98px;
		padding: 0px;
		height: 100%;
		display: block;
		position: absolute;
		border-left: solid 1px #ebebeb;
		background: url(/assets/img/elements/site/arrow/right-[42x36]-2-1.png) center no-repeat;
		transition: all .3s ease-in-out;
		background-size: 21px 19px;

		@mixin screen_to, $mobile {
			width: 40px;
			right: 15px;
			background-size: 18px auto;
		}

		&:hover {
			background-color: #f0f1f5;
			background-image: url(/assets/img/elements/site/arrow/right-[42x36]-2-2.png);
		}
	}
}