.form {
	padding: 35px;
	position: relative;
	border: solid 1px #e1e1e1;

	@mixin screen_to, $mobile {
		padding: 13px 15px 15px;
	}

	&:after {
		width: 100%;
		content: '';
		display: table;
	}

	&_row {
		display: flex;
		margin-top: 30px;

		@mixin screen_to, $mobile {
			display: block;
			margin-top: 15px;
		}
	}
	&_cell {
		flex-grow: 1;
		flex-basis: 0;

		& + & {
			margin-left: 30px;

			@mixin screen_to, $mobile {
				margin: 15px 0px 0px;
			}
		}
	}
	&_label {
		display: block;
		font-size: 100%;
		margin: 30px 0px -15px;
		font-family: 'Geometria-Regular';

		@mixin screen_to, $mobile {
			margin: 15px 0px -9px;
		}
	}
	&_title {
		font-size: 200%;
		margin: 0px 0px 60px;
		font-family: 'Geometria-Bold';

		@mixin screen_to, $mobile {
			font-size: 26px;
			margin-bottom: 23px;
		}
	}
	&_submit {
		float: right;
		width: 230px;
		height: 66px;
		display: block;
		min-width: auto;
		font-size: 112.5%;
		margin-top: -66px;
		line-height: 68px;
		letter-spacing: 3px;

		@mixin screen_to, $mobile {
			float: none;
			width: 100%;
			height: 40px;
			max-width: 280px;
			line-height: 44px;
			margin: 30px auto 0px;
		}
	}
	&_captcha {
		overflow: hidden;
		position: relative;
		margin: 30px auto 0px;

		@mixin screen_to, $mobile {
			max-width: 280px;
		}

		&_src {
			float: left;
			height: 66px;
			display: flex;

			@mixin screen_to, $mobile {
				float: none;
				height: 58px;
			}
		}
		&_img {
			width: auto;
			height: 100%;
			max-width: 230px;
			border: solid 1px #e1e1e1;
		}
		&_input {
			z-index: 1;
			float: left;
			width: 230px;
			height: 66px;
			font-size: 100%;
			margin-right: 32px;
			position: relative;
			font-family: 'Geometria-Medium';

			@mixin screen_to, $mobile {
				float: none;
				width: 100%;
				height: 40px;
				margin: 0px 0px -1px;
			}
		}
		&_refresh {
			width: 66px;
			height: 100%;
			margin-left: 12px;
			background: url(/assets/img/elements/site/button/refresh-[38x40]-1-2.png) center no-repeat;
			transition: all .3s ease-in-out;
			background-size: 26px 26px;

			@mixin screen_to, $mobile {
				width: 50px;
				margin: 0px;
			}

			&:hover {
				background-image: url(/assets/img/elements/site/button/refresh-[38x40]-1-1.png);
			}
		}
	}
}





.eFile {
	display: block;
	margin-top: 30px;
	overflow: hidden;
	position: relative;
	background: #fff;

	@mixin screen_to, $mobile {
		margin-top: 15px;
	}

	&_btn {
		top: 0px;
		right: 0px;
		width: 66px;
		height: 100%;
		display: block;
		position: absolute;
		transition: border .3s ease;
		border-left: 1px solid #e1e1e1;

		@mixin screen_to, $mobile {
			width: 40px;
		}

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			display: block;
			position: absolute;
			background: #343434;
			transform: translate(-50%, -50%);
		}
		&:after {
			width: 2px;
			height: 16px;
		}
		&:before {
			width: 16px;
			height: 2px;
		}
	}
	&_value {
		color: #000;
		display: block;
		font-size: 100%;
		min-height: 66px;
		padding: 23px 20px 21px;
		transition: border .3s ease;
		border: solid 1px #e1e1e1;
		font-family: 'Geometria-Medium';

		@mixin screen_to, $mobile {
			min-height: 40px;
			padding: 10px 15px 9px;
		}

		&._many {
			&:after {
				content: ' ' attr(data-t2);
			}
			&:before {
				content: attr(data-t1) ' ';
			}
		}
		&:empty {
			&:after {
				color: #acacac;
				content: attr(data-t0);
			}
			&:before {
				content: normal;
			}
		}
	}
	&_input {
		top: 50%;
		opacity: 0;
		left: -10px;
		z-index: 100;
		font-size: 200px;
		position: absolute;
		transform: translateY(-50%);
	}

	&:hover {
		^&_btn,
		^&_value {
			border-color: #0b5c9d;
		}
	}
	&._error {
		^&_btn,
		^&_value {
			border-color: #ed1c24;
		}
	}
	&:first-child {
		margin-top: 0px;
	}
}











