.fsearch {
	float: left;
	height: 100px;
	overflow: hidden;
	border-right: solid 1px $c3;
	border-bottom: solid 1px $c3;

	@mixin screen_to, $mobile {
		float: none;
		width: 100%;
		height: 40px;
		border: none;
	}

	&:after {
		width: 100%;
		content: '';
		display: table;
	}

	&_view {
		width: 0px;
		opacity: 0;
		float: left;
		height: 100%;
		z-index: 150;
		overflow: hidden;
		position: relative;
		visibility: hidden;
		transform: scale(.8);
		transition: all .4s ease-in-out;

		@mixin screen_to, $mobile {
			top: 5px;
			left: 5px;
			height: 30px;
			position: absolute;
			width: calc(100% - 60px);
			transition: all .2s ease-in-out;
		}
	}
	&_hide {
		top: 0px;
		right: 0px;
		width: 100px;
		height: 100%;
		padding: 0px;
		display: block;
		position: absolute;
		border-left: solid 1px $c3;
		background: #fff url(/assets/img/elements/site/button/close-[38x36]-1-1.png) center no-repeat;
		transition: all .3s ease-in-out;
		background-size: 20px 20px;

		@mixin screen_to, $mobile {
			display: none;
		}

		&:hover {
			background-color: #f0f1f5;
			background-image: url(/assets/img/elements/site/button/close-[38x36]-1-2.png);
		}
	}
	&_input {
		top: 0px;
		right: 100px;
		width: 285px;
		height: 100%;
		border: none;
		position: absolute;

		@mixin screen_to, $mobile {
			left: 0px;
			right: auto;
			width: 100%;
			position: relative;
			border: solid 1px $cb1;
		}

		&:hover,
		&:focus {
			border: none;

			@mixin screen_to, $mobile {
				border: solid 1px $cb1;
			}
		}
	}
	&_button {
		float: left;
		width: 100px;
		height: 100%;
		padding: 0px;
		display: block;
		position: relative;
		background: #fff url(/assets/img/elements/site/ico/1-[30x32]-1.png) center no-repeat;
		transition: all .3s ease-in-out;
		background-size: 15px 16px;

		@mixin screen_to, $mobile {
			width: 50px;
			float: right;
		}

		&:after {
			@mixin screen_to, $mobile {
				top: 50%;
				left: 0px;
				width: 1px;
				content: '';
				height: 20px;
				display: block;
				background: $c3;
				margin-top: -10px;
				position: absolute;
			}
		}

		&:hover {
			background-image: url(/assets/img/elements/site/ico/1-[30x32]-2.png);
		}
		&._active {
			background-image: url(/assets/img/elements/site/ico/1-[30x32]-3.png);
		}
	}

	&-open {
		^&_view {
			opacity: 1;
			transform: none;
			visibility: visible;

			@mixin screen_from, $mobile {
				width: 384px;
			}
		}
	}
}


