.hproduct {
	background: #fff;
	border-top: solid 1px #e1e1e1;
	border-bottom: solid 1px #e1e1e1;

	&_box {
		display: flex;
		flex-flow: wrap;
		margin: 0px auto;
		max-width: 940px;
		min-height: 400px;
		padding: 30px 20px;
		align-items: center;

		@mixin screen_to, $mobile {
			max-width: $mw;
			padding: 20px 15px;
		}
	}
	&_src {
		padding-left: 30px;
		font: 0/0 sans-serif;
		flex-basis: calc(100% / (900 / 430));

		@mixin screen_to, $mobile {
			flex-basis: 100%;
			padding: 30px 0px 0px;
		}
	}
	&_img {
		display: block;
		margin: 0px auto;
	}
	&_info {
		flex-grow: 1;
		font-size: 100%;
		line-height: 30px;
		text-transform: uppercase;
		font-family: 'Geometria-Bold';
		flex-basis: calc(100% / (900 / 470));

		@mixin screen_to, $mobile {
			flex-basis: 100%;
		}

		& > :last-child {
			margin-bottom: 0px;
		}
		& > :first-child {
			margin-top: 0px;
		}
	}
}