.mmain {
	top: 0px;
	left: 0px;
	z-index: 30;
	width: 100%;
	overflow: hidden;
	position: absolute;
	text-align: center;
	font: 0/0 sans-serif;
	background: #f0f1f5;
	transform: translateY(-100%);
	border-bottom: solid 10px #103675;
	transition: transform .4s ease-in-out;

	@mixin screen_to, $mobile {
		border: none;
		height: auto;
		transform: none;
		text-align: left;
		position: relative;
		border-top: solid 5px #103675;
	}

	&:after {
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: 10;
		content: '';
		height: 101px;
		display: block;
		background: #fff;
		position: absolute;
		border-bottom: 1px solid $c3;

		@mixin screen_to, $mobile {
			content: normal;
		}
	}

	ul {
		margin: 0px;
		padding: 0px;
	}
	li {
		margin: 0px;
		padding: 0px;

		&:before {
			content: normal;
		}
	}

	/*#region [scheme][:]*/
	&_box {
		height: 100%;
		margin: 0px auto;
		max-width: 1440px;
		position: relative;
	}
	/*#endregion [scheme][;]*/

	/*#region [level-1][:]*/
	&_ul1 {
		display: flex;

		@mixin screen_to, $mobile {
			display: block;
		}
	}
	&_li1 {
		flex-grow: 1;
		flex-basis: 0;
		display: block;
		transition: padding .4s ease-in-out;

		& + & {
			@mixin screen_to, $mobile {
				border-top: 1px solid $c3;
			}
		}
		&-sub {
			&:hover {
				@mixin screen_from, $mobile {
					padding-bottom: 115px;
				}

				^^^&_ul2 {
					@mixin screen_from, $mobile {
						transform: translateY(100%);
					}
				}
			}
		}
		&-open {
			^^&_ul2 {
				@mixin screen_to, $mobile {
					display: block;
				}
			}
		}
	}
	&_lnk1 {
		z-index: 15;
		height: 100px;
		display: flex;
		color: #373737;
		padding: 0px 20px;
		background: #fff;
		position: relative;
		align-items: center;
		text-decoration: none;
		justify-content: center;
		text-transform: uppercase;
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
		transition: all .2s ease-in-out;

		@mixin screen_to, $mobile {
			height: auto;
			border: none;
			min-height: 40px;
			padding: 6px 36px;
			justify-content: flex-start;
		}

		&:before {
			@mixin screen_to, $mobile {
				top: 17px;
				left: 15px;
				width: 6px;
				height: 6px;
				content: '';
				display: block;
				background: $cb1;
				border-radius: 50%;
				position: absolute;
				transition: all .2s ease-in-out;
			}
		}

		&_txt {
			max-width: 100%;
			padding-top: 2px;
			position: relative;
			vertical-align: top;
			display: inline-block;
			font: 12px/14px 'Geometria-Bold';

			@mixin screen_from, $wide {
				padding-top: 3px;
				font: 14px/18px 'Geometria-Bold';
			}

			&:after {
				display: none;
				content: '\e801';
				font: 8px/1 'ico';
				vertical-align: top;
				margin: 2px 0px 0px 8px;
				transition: all .2s ease-in-out;

				@mixin screen_from, $wide {
					margin-top: 0px;
					line-height: 16px;
				}
			}
		}

		&-sub {
			&:after {
				top: 100%;
				left: 0px;
				width: 100%;
				height: 1px;
				content: '';
				display: block;
				position: absolute;
				pointer-events: none;
				transition: all .2s ease-in-out;

				@mixin screen_to, $mobile {
					top: 50%;
					left: auto;
					right: 15px;
					width: auto;
					height: auto;
					color: #000;
					content: '\e801';
					margin-top: -6px;
					background: none;
					font: 6px/12px 'ico';
				}
				@mixin screen_from, $mobile {
					opacity: 0;
					background: #f0f1f5;
				}
			}

			^&_txt {
				&:after {
					display: inline-block;

					@mixin screen_to, $mobile {
						display: none;
					}
				}
			}
		}
		&._highlight {
			^&_txt {
				color: #8f8f8f;
			}
		}
		&:hover,
		&._active,
		^&_li1-open &,
		^&_li1:hover & {
			color: $c1;
			background: #f0f1f5;
			border-color: #f0f1f5;

			&:after {
				opacity: 1;
			}

			^&_txt {
				color: currentColor;
			}

			@mixin screen_to, $mobile {
				background: #f0f1f5;
			}
		}
		&:hover,
		^&_li1-open &,
		^&_li1:hover & {
			border-color: $c3;
		}
		^&_li1-open &,
		^&_li1:hover & {
			&:after {
				@mixin screen_to, $mobile {
					content: '\e800';
				}
			}

			^&_txt {
				&:after {
					@mixin screen_from, $mobile {
						content: '\e800';
					}
				}
			}
		}
	}
	/*#endregion [level-1][;]*/

	/*#region [level-2][:]*/
	&_ul2 {
		left: 0px;
		top: -15px;
		z-index: 10;
		width: 100%;
		height: 115px;
		display: flex;
		list-style: none;
		max-width: 1440px;
		text-align: center;
		position: absolute;
		transition: transform .4s ease-in-out;

		@mixin screen_to, $mobile {
			top: auto;
			height: auto;
			display: none;
			position: relative;
		}
	}
	&_li2 {
		flex-grow: 1;
		flex-basis: 0;
		display: block;

		@mixin screen_to, $mobile {
			border-top: 1px solid $c3;
		}

		&._prnt {
			display: none;

			@mixin screen_to, $mobile {
				display: block;
			}
		}
	}
	&_lnk2 {
		height: 100%;
		display: flex;
		color: #373737;
		padding: 0px 20px;
		position: relative;
		align-items: center;
		background: #f0f1f5;
		/*word-break: break-all;*/
		text-decoration: none;
		justify-content: center;
		transition: all .2s ease-in-out;

		@mixin screen_to, $mobile {
			height: auto;
			word-break: normal;
			padding: 8px 36px 6px;
			justify-content: flex-start;
		}

		&_txt {
			max-width: 100%;
			padding-top: 3px;
			vertical-align: top;
			display: inline-block;
			font: 14px/18px 'Geometria-Bold';

			@mixin screen_to, $mobile {
				padding: 0px;
				font: 12px/16px 'Geometria-Regular';
			}
			@mixin screen_from, $wide {
				font: 16px/20px 'Geometria-Bold';
			}
		}

		&-prnt {
			^&_txt {
				color: #000;
				font-family: 'Geometria-Bold';
			}
		}
		&:hover,
		&._active {
			color: $c1;
		}
		&._highlight {
			color: #8f8f8f;

			&:hover,
			&._active {
				color: $c1;
			}
		}
	}
	/*#endregion [level-2][;]*/

	&._live {
		transform: none;
		position: relative;
	}
	&._show {
		transform: none;
		position: absolute;

		@mixin screen_to, $mobile {
			position: relative;
		}
	}
}




















/*[Nav main <]*/

/*[Inline <]*/

/*[Partition <]*/

/*[Menu <]*/
nav.main._inline .partition .menu > ul > li > .link {
	border-bottom: solid 1px $c3;
}
nav.main._inline .partition .menu > ul > li > .close {
	height: 100px;
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: -100px;
	background-color: transparent;
}
nav.main._inline .partition .menu > ul > li:hover .link,
nav.main._inline .partition .menu > ul > li .link:hover,
nav.main._inline .partition .menu > ul > li .link:active {
	border-bottom: solid 1px #f0f1f5;
}
nav.main._inline .partition .menu > ul > li.open > .close {
	z-index: 115;
}
nav.main._inline .partition .menu > ul > li.has-submenu > .link i:after {
	top: -1px;
	width: 8px;
	height: 8px;
	content: '';
	margin-left: 8px;
	position: relative;
	display: inline-block;
	background: url(/assets/img/elements/site/arrow/bottom-[17x15]-1-1.png) center no-repeat;
	transition: all .3s ease-in-out;
	background-size: 8px 8px;
}
nav.main._inline.opened .partition .menu > ul > li.has-submenu > .link i:after {
	opacity: 0;
	visibility: hidden;
}
nav.main._inline .partition .menu > ul > li.has-submenu > .link.active i:after {
	background-image: url(/assets/img/elements/site/arrow/bottom-[17x15]-1-2.png);
}
nav.main._inline .partition .menu > ul > li.has-submenu:hover > .link i:after,
nav.main._inline .partition .menu > ul > li.has-submenu > .link:hover i:after,
nav.main._inline .partition .menu > ul > li.has-submenu > .link:active i:after {
	background-image: url(/assets/img/elements/site/arrow/top-[17x15]-1-2.png);
}
/*[Menu >]*/

/*[Submenu <]*/
nav.main._inline .partition .menu > ul > li > .submenu {
	left: 0px;
	top: -15px;
	width: 100%;
	z-index: 50;
	height: 115px;
	display: block;
	background: #fff;
	margin: 0px auto;
	position: absolute;
	padding: 0px !important;
}
nav.main._inline .partition .menu > ul > li > .submenu ul {
	width: 100%;
	padding: 0px;
	height: 115px;
	display: table;
	margin: 0px auto;
	line-height: 0px;
	overflow: hidden;
	list-style: none;
	max-width: 1440px;
	text-align: center;
}
nav.main._inline .partition .menu > ul > li > .submenu ul li {
	margin: 0px;
	display: table-cell;
	vertical-align: top;
}
nav.main._inline .partition .menu > ul > li > .submenu ul li a {
	width: 100%;
	height: 115px;
	color: #373737;
	display: table;
	font-size: 87.5%;
	text-align: center;
	position: relative;
	line-height: normal;
	background: #f0f1f5;
	text-decoration: none;
	font-family: 'Geometria-Bold';
	transition: all .3s ease-in-out;
}
nav.main._inline .partition .menu > ul > li > .submenu ul li a i {
	padding: 0px 45px;
	font-style: normal;
	display: table-cell;
	vertical-align: middle;
	font-family: 'Geometria-Bold';
}
nav.main._inline .partition .menu > ul > li > .submenu ul li:hover a,
nav.main._inline .partition .menu > ul > li > .submenu ul li a:hover,
nav.main._inline .partition .menu > ul > li > .submenu ul li a:active,
nav.main._inline .partition .menu > ul > li > .submenu ul li a.active {
	color: #0544ac;
}
nav.main._inline .partition .menu > ul > li > .submenu ul li a._highlight,
nav.main._inline .partition .menu > ul > li > .submenu ul li a._highlight {
	color: #8f8f8f;
}
/*[Submenu >]*/

/*[Partition >]*/

/*[Inline >]*/

/*[Nav main >]*/