.mmenu {
	z-index: 350;
	background: #fff;
	position: relative;

	&_button {
		float: left;
		margin: 0px;
		padding: 0px;
		width: 159px;
		height: 100px;
		display: block;
		color: #373737;
		background: #fff;
		position: relative;
		text-align: center;
		font: 0/0 sans-serif;
		border-right: solid 1px $c3;
		border-bottom: 1px solid $c3;
		transition: all .2s ease-in-out;

		@mixin screen_to, $mobile {
			width: 50px;
			height: 50px;
			float: right;
			border-right: none;
		}

		&_txt {
			height: 17px;
			letter-spacing: 3px;
			vertical-align: top;
			display: inline-block;
			text-transform: uppercase;
			font: 16px/18px 'Geometria-ExtraBold';
			
			@mixin screen_to, $mobile {
				display: none;
			}
		}
		&_ico {
			width: 19px;
			height: 3px;
			position: relative;
			color: currentColor;
			vertical-align: top;
			display: inline-block;
			background: currentColor;
			margin: 7px 0px 7px 15px;
			
			@mixin screen_to, $mobile {
				margin-left: 0px;
			}

			&:after,
			&:before {
				left: 0px;
				content: '';
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				background: currentColor;
			}
			&:after {
				transform: translateY(7px);
			}
			&:before {
				transform: translateY(-7px);
			}
		}

		&:hover {
			color: $c1;
		}
		&-active {
			^&_ico {
				background: transparent;
	
				&:after,
				&:before {
					top: 0px;
				}
				&:after {
					transform: rotate(45deg);
				}
				&:before {
					transform: rotate(-45deg);
				}
			}
		}
	}

	&._open {
		@mixin screen_from, $mobile {
			padding-top: 110px;
		}
	}
}