.mmobile {
	top: 100%;
	left: 0px;
	width: 100%;
	height: 0px;
	display: none;
	overflow-y: auto;
	background: #fff;
	overflow-x: hidden;
	position: absolute;
	transition: all .4s ease-in-out;
	-webkit-overflow-scrolling: touch;

	@mixin screen_to, $mobile {
		display: block;
	}

	&_box {
		margin: 0px auto;
		max-width: 568px;
		position: relative;
	}

	&._show {
		height: calc(100vh - 50px);
	}
}