.mpages {
	cursor: default;
	max-width: 1440px;
	text-align: center;
	margin: 100px auto;

	@mixin screen_to, $mobile {
		max-width: $mw;
		margin: 40px auto;
		padding: 0px 15px;
	}

	a {
		&:hover {
			color: #103675;
		}
	}

	&_btn {
		width: 20px;
		height: 24px;
		vertical-align: top;
		display: inline-block;
		text-decoration: none;
		background-size: 8px 8px;
		background-position: center;
		background-repeat: no-repeat;

		&._prev {
			background-image: url(/assets/img/elements/site/arrow/left-[15x17]-1-1.png);

			&:hover {
				background-image: url(/assets/img/elements/site/arrow/left-[15x17]-1-3.png);
			}
		}
		&._next {
			background-image: url(/assets/img/elements/site/arrow/right-[15x17]-1-1.png);

			&:hover {
				background-image: url(/assets/img/elements/site/arrow/right-[15x17]-1-3.png);
			}
		}
	}
	&_link {
		height: 24px;
		color: #a0a2ad;
		margin: 0px 10px;
		line-height: 26px;
		vertical-align: top;
		display: inline-block;
		text-decoration: none;
		transition: all .3s ease-in-out;
		font-family: 'Geometria-ExtraBold';

		@mixin screen_to, $mobile {
			font-size: 14px;
			margin: 0px 6px;
		}

		&._this {
			color: #103675;
		}
	}
}