.mpart {
	position: relative;
	text-align: center;
	letter-spacing: 1px;
	font: 0/0 sans-serif;
	border-bottom: solid 1px $c3;

	@mixin screen_to, $mobile {
		border: none;
		text-align: left;
	}

	&:after,
	&:before {
		content: '';
		display: block;
	}
	&:after {
		top: 10px;
		left: 0px;
		width: 100%;
		z-index: 10;
		height: 101px;
		position: absolute;
		background: #f0f1f5;
		border-bottom: 1px solid $c3;

		@mixin screen_to, $mobile {
			content: normal;
		}
	}
	&:before {
		z-index: 15;
		height: 10px;
		position: relative;
		background: currentColor;

		@mixin screen_to, $mobile {
			height: 5px;
		}
	}

	a {
		text-decoration: none;
		transition: all .2s ease-in-out;
	}
	ul {
		margin: 0px;
		padding: 0px;
	}
	li {
		margin: 0px;
		padding: 0px;

		&:before {
			content: normal;
		}
	}

	/*#region [scheme][:]*/
	&_box {
		display: flex;
		flex-flow: wrap;
		margin: 0px auto;
		max-width: 1440px;
		position: relative;

		@mixin screen_to, $mobile {
			display: block;
		}
	}
	&_base {
		flex-grow: 1;
		flex-basis: 0;

		@mixin screen_to, $mobile {
			letter-spacing: normal;
		}
	}
	/*#endregion [scheme][;]*/
	
	/*#region [object][:]*/
	&_prnt {
		z-index: 15;
		flex-grow: 1;
		flex-basis: 0;
		height: 100px;
		display: flex;
		max-width: 440px;
		text-align: left;
		padding: 0px 20px;
		position: relative;
		color: currentColor;
		align-items: center;
		background: #f0f1f5;
		text-transform: uppercase;

		@mixin screen_to, $mobile {
			height: auto;
			max-width: none;
			min-height: 40px;
			text-align: center;
			padding: 7px 15px 5px;
			justify-content: center;
		}

		&_txt {
			font: 18px/22px 'Geometria-ExtraBold';

			@mixin screen_from, $wide {
				font: 20px/24px 'Geometria-ExtraBold';
			}
			@mixin screen_to, $mobile {
				font: 14px/18px 'Geometria-Bold';
			}
		}

		&:hover {
			color: $c1;
		}
	}
	/*#endregion [object][;]*/

	/*#region [level-1][:]*/
	&_ul1 {
		display: flex;

		@mixin screen_to, $mobile {
			display: block;
		}
	}
	&_li1 {
		flex-grow: 1;
		flex-basis: 0;
		display: block;
		transition: padding .4s ease-in-out;

		@mixin screen_to, $mobile {
			border-top: 1px solid $c3;
		}

		&-sub {
			&:hover {
				@mixin screen_from, $mobile {
					padding-bottom: 115px;
				}

				^^^&_ul2 {
					@mixin screen_from, $mobile {
						transform: translateY(100%);
					}
				}
			}
		}
		&-open {
			background: #f0f1f5;

			^^&_ul2 {
				@mixin screen_to, $mobile {
					display: block;
				}
			}
		}
	}
	&_lnk1 {
		z-index: 15;
		height: 100px;
		display: flex;
		padding: 0px 20px;
		position: relative;
		align-items: center;
		color: currentColor;
		justify-content: center;
		text-transform: uppercase;
		border-left: 1px solid $c3;
		transition: all .2s ease-in-out;

		@mixin screen_to, $mobile {
			height: auto;
			border: none;
			min-height: 40px;
			padding: 6px 36px;
			background: #fff;
			justify-content: flex-start;
		}

		&:before {
			@mixin screen_to, $mobile {
				top: 17px;
				left: 15px;
				width: 6px;
				height: 6px;
				content: '';
				display: block;
				border-radius: 50%;
				position: absolute;
				background: currentColor;
				transition: all .2s ease-in-out;
			}
		}

		&_txt {
			max-width: 100%;
			color: #373737;
			position: relative;
			vertical-align: top;
			display: inline-block;
			font: 14px/18px 'Geometria-Bold';

			@mixin screen_to, $mobile {
				padding-top: 2px;
				font: 12px/14px 'Geometria-Bold';
			}
			@mixin screen_from, $wide, {
				font: 16px/20px 'Geometria-Bold';
			}

			&:after {
				display: none;
				content: '\e801';
				margin-left: 8px;
				vertical-align: top;
				font: 8px/16px 'ico';

				@mixin screen_from, $wide {
					line-height: 18px;
				}
			}
		}

		&-sub {
			&:after {
				top: 100%;
				left: 0px;
				width: 100%;
				height: 1px;
				content: '';
				display: block;
				position: absolute;
				pointer-events: none;
				transition: all .2s ease-in-out;

				@mixin screen_to, $mobile {
					top: 50%;
					left: auto;
					right: 15px;
					width: auto;
					height: auto;
					color: #000;
					content: '\e801';
					margin-top: -6px;
					font: 6px/12px 'ico';
				}
				@mixin screen_from, $mobile {
					opacity: 0;
					background: #fff;	
				}
			}

			^&_txt {
				&:after {
					display: inline-block;

					@mixin screen_to, $mobile {
						display: none;
					}
				}
			}
		}
		&._highlight {
			^&_txt {
				color: #8f8f8f;
			}
		}
		&:hover,
		&._active,
		^&_li1-open &,
		^&_li1:hover & {
			background: #fff;
			color: currentColor;

			&:after {
				opacity: 1;
			}

			^&_txt {
				color: currentColor;
			}

			@mixin screen_to, $mobile {
				background: #f0f1f5;
			}
		}
		^&_li1-open &,
		^&_li1:hover & {
			&:after {
				@mixin screen_to, $mobile {
					content: '\e800';
				}
			}

			^&_txt {
				&:after {
					@mixin screen_from, $mobile {
						content: '\e800';
					}
				}
			}
		}
	}
	/*#endregion [level-1][;]*/

	/*#region [level-2][:]*/
	&_ul2 {
		left: 0px;
		top: -15px;
		z-index: 10;
		width: 100%;
		height: 115px;
		display: flex;
		list-style: none;
		max-width: 1440px;
		position: absolute;
		transition: transform .4s ease-in-out;

		@mixin screen_to, $mobile {
			top: auto;
			height: auto;
			display: none;
			position: relative;
		}
	}
	&_li2 {
		flex-grow: 1;
		flex-basis: 0;
		display: block;

		@mixin screen_to, $mobile {
			border-top: 1px solid $c3;
		}

		&._prnt {
			display: none;

			@mixin screen_to, $mobile {
				display: block;
			}
		}
	}
	&_lnk2 {
		height: 100%;
		display: flex;
		color: #373737;
		padding: 0px 20px;
		position: relative;
		align-items: center;
		/*word-break: break-all;*/
		justify-content: center;
		transition: all .2s ease-in-out;
		
		@mixin screen_to, $mobile {
			word-break: normal;
			padding: 8px 36px 6px;
			justify-content: flex-start;
		}
		@mixin screen_from, $mobile {
			background: #fff;
		}

		&_txt {
			max-width: 100%;
			position: relative;
			vertical-align: top;
			display: inline-block;
			font: 14px/18px 'Geometria-Bold';

			@mixin screen_to, $mobile {
				font: 12px/16px 'Geometria-Regular';
			}
			@mixin screen_from, $wide {
				font: 16px/20px 'Geometria-Bold';
			}
		}

		&-prnt {
			^&_txt {
				color: #000;
				font-family: 'Geometria-Bold';
			}
		}
		&:hover,
		&._active {
			color: currentColor;
		}
		&._highlight {
			color: #8f8f8f;

			&:hover,
			&._active {
				color: currentColor;
			}
		}
	}
	/*#endregion [level-2][;]*/

	&._c1 {color: $cb1;}
	&._c2 {color: $cb2;}
	&._c3 {color: $cb3;}
	&._c4 {color: $cb4;}
	&._c5 {color: $cb5;}
	&._c6 {color: $cb6;}
	&._c7 {color: $cb7;}
	&._c8 {color: $cb8;}
}