.mways {
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 15;
	word-spacing: 0px;
	background: #fff;
	position: absolute;
	letter-spacing: 0px;
	font: 0/0 sans-serif;
	transform: translateY(-100vh);
	min-height: calc(100vh - 210px);
	box-shadow: 0px 0px 50px 25px #fff;
	transition: transform .4s ease-in-out;

	&:before {
		@mixin screen_to, $mobile {
			content: '';
			height: 5px;
			display: block;
			background:
				linear-gradient(
					to right,
					$cb2 0%, $cb2 20%,
					$cb3 20%, $cb3 40%,
					$cb4 40%, $cb4 60%,
					$cb5 60%, $cb5 80%,
					$cb6 80%, $cb6 100%
				);
		}
	}

	@mixin screen_to, $mobile {
		transform: none;
		min-height: auto;
		position: relative;
	}

	&_ul {
		margin: 0px;
		display: block;
		position: relative;
		padding: 36px 60px 40px;

		@mixin screen_to, $mobile {
			padding: 0px;
		}
	}
	&_li {
		padding: 0px;
		vertical-align: top;
		margin: 35px 0px 0px;
		display: inline-block;
		width: calc(50% - 40px);

		@mixin screen_to, $mobile {
			width: auto;
			margin: 0px;
			display: block;
		}

		&:before {
			content: normal;
		}

		& + li {
			@mixin screen_to, $mobile {
				border-top: 1px solid $c3;
			}
		}
		&:nth-child(2n) {
			margin-left: 80px;

			@mixin screen_to, $mobile {
				margin-left: 0px;
			}
		}
		&:nth-child(-n+2) {
			margin-top: 0px;
		}
	}
	&_box {
		margin: 0px auto;
		max-width: 1440px;
		position: relative;
	}
	&_lnk {
		color: #000;
		position: relative;
		line-height: normal;
		word-spacing: .03em;
		vertical-align: top;
		padding-bottom: 3px;
		letter-spacing: .03em;
		transform: translateZ(0);
		background-size: 200% 200%;
		transition: all .2s ease-in-out;
		font: 20px/28px 'Geometria-Medium';
		box-shadow: inset 0px -3px 0px $cb1;
		
		@mixin screen_to, $mobile {
			display: block;
			box-shadow: none !important;
			padding: 12px 36px 10px 36px;
			font: 14px/18px 'Geometria-Medium';
		}

		&:before {
			@mixin screen_to, $mobile {
				top: 17px;
				left: 15px;
				width: 6px;
				height: 6px;
				content: '';
				display: block;
				background: $cb1;
				border-radius: 50%;
				position: absolute;
			}
		}

		&._c2 {
			box-shadow: inset 0px -3px 0px $cb2;

			&:before {
				background: $cb2;
			}
		}
		&._c3 {
			box-shadow: inset 0px -3px 0px $cb3;

			&:before {
				background: $cb3;
			}
		}
		&._c4 {
			box-shadow: inset 0px -3px 0px $cb4;

			&:before {
				background: $cb4;
			}
		}
		&._c5 {
			box-shadow: inset 0px -3px 0px $cb5;

			&:before {
				background: $cb5;
			}
		}
		&._c6 {
			box-shadow: inset 0px -3px 0px $cb6;

			&:before {
				background: $cb6;
			}
		}
		&._c7 {
			box-shadow: inset 0px -3px 0px $cb7;

			&:before {
				background: $cb7;
			}
		}
		&._8 {
			box-shadow: inset 0px -3px 0px $cb8;

			&:before {
				background: $cb8;
			}
		}
		&:hover {
			color: $c1;
			box-shadow: inset 0px -3px 0px $c1;
		}
	}

	&._show {
		transform: translateY(110px);

		@mixin screen_to, $mobile {
			transform: none;
		}
	}
}