.btn_1,
button {
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	cursor: pointer;
	max-width: 100%;
	overflow: hidden;
	box-shadow: none;
	user-select: none;
	text-shadow: none;
	border-radius: 0px;
	text-align: center;
	position: relative;
	vertical-align: top;
	display: inline-block;
	text-decoration: none;
	transform: translateZ(0);
	text-transform: uppercase;
	transition: all .3s ease-in-out;
}

.btn {
	&_1 {
		height: 60px;
		color: #fff;
		min-width: 278px;
		background: $cb1;
		padding: 0px 30px;
		letter-spacing: 3px;
		font: 16px/62px 'Geometria-ExtraBold';
		
		@mixin screen_to, $mobile {
			height: 40px;
			min-width: auto;
			padding: 0px 20px;
			font: 14px/44px 'Geometria-ExtraBold';
		}
		@mixin screen_from, $wide {
			font-size: 18px;
		}

		&._c2 {
			background: $cb2;
			
			&:hover,
			a:hover & {
				background: $cb2v2;
			}
		}
		&._c3 {
			background: $cb3;
			
			&:hover,
			a:hover & {
				background: $cb3v2;
			}
		}
		&._c4 {
			background: $cb4;
			
			&:hover,
			a:hover & {
				background: $cb4v2;
			}
		}
		&._c5 {
			background: $cb5;
			
			&:hover,
			a:hover & {
				background: $cb5v2;
			}
		}
		&._c6 {
			background: $cb6;
			
			&:hover,
			a:hover & {
				background: $cb6v2;
			}
		}
		&._c7 {
			background: $cb7;
			
			&:hover,
			a:hover & {
				background: $cb7v2;
			}
		}
		&._c8 {
			background: $cb8;
			
			&:hover,
			a:hover & {
				background: $cb8v2;
			}
		}
		&:hover,
		a:hover & {
			color: #fff;
			background: $cb1v2;
		}
	}
}