/*#region [base][:]*/
.input {
	z-index: 1;
	width: 100%;
	margin: 0px;
	resize: none;
	outline: none;
	display: block;
	box-shadow: none;
	position: relative;
	border-radius: 0px;

	&::placeholder {
		color: #acacac;
		transition: color .15s ease;
	}
	&:focus {
		&::placeholder {
			color: transparent;
		}
	}
	&:hover,
	&:focus {
		border-color: #0b5c9d;
	}
	&._error {
		border-color: #ed1c24;
	}
}
/*#endregion [base][;]*/

/*#region [theme][:]*/
.input {
	height: 66px;
	padding: 20px;
	font-size: 100%;
	margin-top: 30px;
	background: #fff;
	border: solid 1px #e1e1e1;
	font-family: 'Geometria-Medium';
	transition: color .1s ease, border .3s ease;

	@mixin screen_to, $mobile {
		height: 40px;
		padding: 15px;
		margin-top: 15px;
	}

	&._area {
		height: 230px;

		@mixin screen_to, $mobile {
			height: 80px;
		}
	}

	&:first-child {
		margin-top: 0px;
	}
}
/*#endregion [theme][;]*/