.sod {
	&_list {
		margin: 0px;
		padding: 0px;
		display: block;
		overflow-y: auto;
		max-height: 325px;

		&_wrapper {
			top: 100%;
			left: -1px;
			z-index: 30;
			height: auto;
			display: none;
			cursor: default;
			margin-top: 1px;
			background: #fff;
			position: absolute;
			width: calc(100% + 2px);
			border-left: solid 1px #b7b7b7;
			border-right: solid 1px #b7b7b7;
			border-bottom: solid 1px #b7b7b7;
		}
	}
	&_label {
		display: block;
		overflow: hidden;
		white-space: nowrap;
		padding-right: 62px;
		text-overflow: ellipsis;

		@mixin screen_to, $mobile {
			padding-right: 40px;
		}
	}
	&_option {
		height: 65px;
		display: block;
		cursor: pointer;
		overflow: hidden;
		list-style: none;
		background: #fff;
		padding: 22px 20px;
		position: relative;
		white-space: nowrap;
		text-overflow: ellipsis;
		border-top: solid 1px #e1e1e1;
		transition: background .3s ease-in-out;

		@mixin screen_to, $mobile {
			height: 40px;
			padding: 10px 15px;
		}

		&:hover,
		&.active {
			background: #f0f1f5;
		}
		&:last-child {
			border-bottom: none;
		}
		&:first-child {
			border-top: none;
		}
	}
	&_select {
		width: 100%;
		height: 66px;
		color: #000;
		outline: none;
		cursor: pointer;
		font-size: 100%;
		text-align: left;
		background: #fff;
		padding: 22px 20px;
		position: relative;
		display: inline-block;
		border: solid 1px #e1e1e1;
		transition: border .3s ease;
		font-family: 'Geometria-Medium';

		@mixin screen_to, $mobile {
			height: 40px;
			padding: 10px 15px;
		}

		&:after {
			top: 0px;
			right: 0px;
			width: 62px;
			content: '';
			height: 100%;
			display: block;
			position: absolute;
			border-left: solid 1px #e1e1e1;
			background: url(/assets/img/elements/site/arrow/bottom-[17x15]-1-1.png) center no-repeat;
			background-size: 8px 8px;

			@mixin screen_to, $mobile {
				width: 39px;
			}
		}

		select {
			top: 0px;
			opacity: 0;
			left: -10000px;
			position: fixed;
		}

		&.open {
			border-color: #b7b7b7;

			&:after {
				background-image: url(/assets/img/elements/site/arrow/top-[17x15]-1-1.png);
			}

			.sod {
				&_list {
					&_wrapper {
						display: block;
					}
				}
			}
		}
		&.above {
			.sod {
				&_list {
					&_wrapper {
						top: auto;
						bottom: 100%;
						margin: 0px 0px 1px;
						border-bottom: none;
						border-top: solid 1px #b7b7b7;
					}
				}
				&_option {
					border-top: none;
					border-bottom: solid 1px #e1e1e1;
				}
			}
		}
		&.touch {
			select {
				top: 0px;
				left: 0px;
				opacity: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				position: absolute;
				display: block !important;
				-webkit-appearance: menulist-button;
				-moz-appearance: menulist-button;
				-o-appearance: menulist-button;
			}
		}

		&:hover {
			border-color: #0b5c9d;
		}
		&._error {
			border-color: #ed1c24;
		}
	}
	&_placeholder {
		color: #acacac;
	}



	&_select,
	&_select * {
		box-sizing: border-box;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;
	}
}