table {
	border-collapse: collapse;

	th,
	td {
		& > :last-child,
		& > :last-child {
			margin-bottom: 0px;
		}
		& > :first-child,
		& > :first-child {
			margin-top: 0px;
		}
	}
	th {
		font-size: 100%;
		font-family: 'Geometria-Medium';
	}
	img {
		max-width: none;
	}
	
	&.wide {
		width: 100%;
	}
	.pad,
	&.pad td,
	&.pad th {
		padding: 30px;
	}
	.border,
	&.border td,
	&.border th {
		border: solid 1px #c2c2c2 !important;
	}
	.noborder,
	&.noborder td,
	&.noborder th {
		border: none !important;
	}
	&.align-default {
		td, th {
			text-align: center;
			vertical-align: middle;
		}
	}
	.padtop {
		padding-top: 30px !important;
	}
	.padleft {
		padding-left: 30px !important;
	}
	.padright {
		padding-right: 30px !important;
	}
	.padbottom {
		padding-bottom: 30px !important;
	}
}

.table-theme-default {
	width: 100%;
	margin: 30px 0px 60px;
	border-collapse: collapse;
}
.table-theme-default > tr th,
.table-theme-default > thead > tr > th,
.table-theme-default > tbody > tr > th {
	background: #f0f1f5;
}
.table-theme-default > tr td,
.table-theme-default > thead > tr > td,
.table-theme-default > tbody > tr > td {
	background: #fff;
}
.table-theme-default > thead {
	font-size: 100%;
	font-family: 'Geometria-Medium';
}
.table-theme-default > tr > th,
.table-theme-default > tr > td,
.table-theme-default > thead > tr > th,
.table-theme-default > thead > tr > td,
.table-theme-default > tbody > tr > th,
.table-theme-default > tbody > tr > td {
	padding: 30px;
	text-align: left;
	vertical-align: middle;
	border: solid 1px #c2c2c2;
}
.table-theme-default > tr > th:first-child,
.table-theme-default > tr > td:first-child
.table-theme-default > thead > tr > th:first-child,
.table-theme-default > tbody > tr > td:first-child
.table-theme-default > thead > tr > th:first-child,
.table-theme-default > tbody > tr > td:first-child {
	padding: 30px;
}