.sarticle {
	font-size: 0px;
	line-height: 0px;
	min-height: 640px;

	&_img {
		width: 514px;
		height: 591px;
		position: relative;
		background: url('/assets/img/design/obj/frame_514x591_1.png') 50% no-repeat;
	}
	&_src {
		width: 480px;
		height: 420px;
		display: block;
		margin: 0px auto 0px;
	}
	&_item {
	}
	&_data {
		
		&_box {
		}
	}
	&_wrap {
	}
}


