.sHome {
	color: #000;
	background: #f0f1f5;

	&_view {
		margin: 0px auto;
		max-width: 1440px;
		position: relative;

		@mixin screen_to, $mobile {
			max-width: $mw;
		}
	}
	&_item {
		&_box {
			height: 480px;
			display: flex;
			padding: 20px 80px;
			justify-content: space-between;

			@mixin screen_to, $mobile {
				height: auto;
				display: block;
				padding: 36px 15px 53px;
			}
		}
		&_img {
			height: auto;
			display: block;
			max-width: 100%;
			margin: 0px auto;
		}
		&_side {
			width: 45%;
			display: flex;
			align-items: center;
			transform: translate(100px, 0px);
			transition:
				opacity .8s ease-in-out .2s,
				transform 1.6s cubic-bezier(.6,1.6,.4,1) .2s;

			@mixin screen_to, $mobile {
				width: 100%;
				transform: none;
				margin: 0px auto;
				max-width: 260px;
			}
		}
		&_data {
			width: 50%;
			display: flex;
			text-align: justify;
			align-items: center;
			transform: scale(.8) translate(100px, 0px);
			transition:
				opacity .8s ease-in-out,
				transform 1.6s cubic-bezier(.6,1.6,.4,1);

			@mixin screen_to, $mobile {
				width: 100%;
				transform: none;
				text-align: left;
			}
		}
		&_text {
			font: 18px/22px 'ProximaNova-Light';

			@mixin screen_from, $wide {
				font: 20px/24px 'ProximaNova-Light';
			}
			@mixin screen_to, $mobile {
				font: 16px/20px 'ProximaNova-Light';
			}

			p {
				&:last-child {
					margin-bottom: 0px;
				}
				&:first-child {
					margin-top: 0px;
				}
			}
		}

		&-anim {
			^&_side,
			^&_data {
				transform: none;
			}
		}
	}
	&_prev,
	&_next {
		opacity: 0;
		width: 80px;
		bottom: 0px;
		height: 100%;
		z-index: 150;
		padding: 0px;
		font-size: 0px;
		position: absolute;
		text-indent: -500px;
		background: 50% no-repeat;
		transition: all .3s ease-in-out;

		@mixin screen_to, $mobile {
			display: none;
		}

		&:hover {
			opacity: 1;
		}
	}
	&_prev {
		left: 0px;
		background-image: url(/assets/img/elements/site/arrow/left-[20x23]-1-2.png);
	}
	&_next {
		right: 0px;
		background-image: url(/assets/img/elements/site/arrow/right-[20x23]-1-2.png);
	}
	&_pages {
		bottom: 55px;

		@mixin screen_to, $mobile {
			bottom: 20px;
		}
	}

	/*#region [plugin][:]*/
	.swiper {
		&-pin {
			width: 16px;
			height: 16px;
			margin: 0px 5px;
			position: relative;
			border-radius: 50%;
			transform: perspective(1px);

			&:after {
				top: 50%;
				left: 50%;
				content: '';
				width: 10px;
				height: 10px;
				display: block;
				position: absolute;
				border-radius: 50%;
				background: #a0a2ad;
				margin: -5px 0px 0px -5px;
				transition: all .2s ease-in-out;
			}

			&._active {
				&:after {
					transform: scale(1.6);
					background: transparent;
					box-shadow: inset 0px 0px 0px 1.3px #a0a2ad;
				}
			}
		}
	}
	/*#endregion [plugin][;]*/

}