.sImage {
	width: 100%;
	max-width: 900px;
	position: relative;
	margin: 60px auto 90px;

	@mixin screen_to, $mobile {
		max-width: $mw;
		margin: 40px auto;
		padding-bottom: 27px;
	}

	&:after {
		width: 100%;
		content: '';
		display: table;
	}

	&_info {
		margin-top: 23px;
		width: calc(100% - 100px);

		@mixin screen_to, $mobile {
			width: 100%;
			margin-top: 12px;
		}
	}
	&_item {
		color: #000;
		cursor: pointer;

		p {
			margin: 0px;
		}

		&_img {
			height: auto;
			max-width: 100%;
			max-height: 420px;
		}
	}
	&_menu {
		float: right;
		height: 20px;
		cursor: default;
		margin-top: 23px;
		text-align: right;
		line-height: 22px;

		@mixin screen_to, $mobile {
			left: 0px;
			width: 100%;
			bottom: -4px;
			text-align: center;
			position: absolute;
		}
	}
	&_prev,
	&_next {
		top: auto;
		left: auto;
		width: 20px;
		height: 20px;
		position: relative;
		vertical-align: top;
		display: inline-block;
		background: 50% no-repeat;
		transition: all .3s ease-in-out;
		background-size: 8px 9px;

		&:after {
			top: 50%;
			left: 6px;
			display: block;
			margin-top: -4px;
			font: 8px/1 'ico';
			position: absolute;
		}

		&:hover {
			color: #9e9e9f;
		}
	}
	&_prev {
		&:after {
			content: '\e802';
		}
	}
	&_next {
		&:after {
			content: '\e803';
		}
	}
	&_pages {
		width: auto;
		position: static;
		vertical-align: top;
		display: inline-block;

		@media print {
			display: none;
		}
	}
}