.sMain {
	font: 0/0 serif;
	margin: 0px auto;
	max-width: 1920px;
	user-select: none;
	position: relative;
	background: no-repeat;
	background-size: cover;

	@mixin screen_to, $mobile {
		max-width: $mw;
		max-height: 468px;
		height: calc(100vh - 100px);
	}
	@mixin screen_from, $mobile {
		background-image: none !important;
	}

	&:after {
		z-index: 10;
		content: '';
		display: block;
		min-height: 640px;
		position: relative;
		pointer-events: none;
		background-size: 2px 2px;
		background-color: rgba(#3e4148, .4);
		padding-bottom: calc(100% / (1280 / 640));

		@mixin screen_to, $mobile {
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			padding: 0px;
			min-height: auto;
			position: absolute;
			background-color: rgba(#3e4148, .6);
		}
	}

	/*#region [scheme][:]*/
	&_view,
	&_info {
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		position: absolute;
	}
	&_info {
		z-index: 15;
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_item {
		color: #fff;
		overflow: hidden;
		position: relative;
		text-align: center;

		&_box {
			height: 100%;
			display: flex;
			flex-flow: wrap;
			margin: 0px auto;
			max-width: 800px;
			position: relative;
			align-items: center;
			word-spacing: .03em;
			letter-spacing: .03em;
			align-content: center;
			justify-content: center;

			@mixin screen_to, $mobile {
				max-width: 400px;
				align-items: flex-end;
				padding: 0px 15px 50px;
			}
		}
		&_src {
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			position: absolute;
			background: no-repeat;
			background-size: cover;

			@mixin screen_from, $mobile {
				background-image: none !important;
			}
		}
		&_img {
			height: 100%;
			background: no-repeat;
			background-size: cover;
			transition: all 40s ease-out-sine;

			@mixin screen_to, $mobile {
				background-image: none !important;
			}
		}
		&_name {
			opacity: 0;
			width: 100%;
			display: block;
			transform: translateY(-60px);
			font: 40px/48px 'Geometria-Bold';
			transition: all .4s ease-out-sine .2s;

			@mixin screen_to, $mobile {
				opacity: 1;
				transform: none;
				font: 24px/28px 'Geometria-Bold';
			}
		}
		&_text {
			opacity: 0;
			width: 100%;
			display: block;
			margin-top: 20px;
			transform: translateY(-30px);
			font: 20px/24px 'ProximaNova-Light';
			transition: all .4s ease-out-sine .4s;

			@mixin screen_to, $mobile {
				opacity: 1;
				transform: none;
				font: 16px/20px 'ProximaNova-Light';
			}
		}
		&_video {
			top: 50%;
			left: 50%;
			max-width: none;
			position: absolute;
			background: no-repeat;
			background-size: cover;
			transform: translate(-50%, -50%);

			@mixin screen_to, $mobile {
				display: none;
			}
		}
		&_button {
			opacity: 0;
			height: 40px;
			color: #fff;
			margin-top: 60px;
			min-width: 140px;
			padding: 0px 20px;
			vertical-align: top;
			transform: scale(.8);
			display: inline-block;
			background: #103675;
			text-transform: uppercase;
			font: 14px/42px 'Geometria-Bold';
			transition: all .4s ease-out-sine .6s;

			@mixin screen_to, $mobile {
				opacity: 1;
				transform: none;
				margin-top: 35px;
			}

			&:hover {
				color: #fff;
				background: $c1;
			}
		}

		&-anim {
			^&_img {
				transform: scale(1.2);
			}
			^&_name,
			^&_text,
			^&_button {
				opacity: 1;
				transform: none;
			}
		}
	}
	&_prev,
	&_next {
		top: 50%;
		width: 40px;
		height: 40px;
		margin-top: -20px;
		background: transparent;
		transition: all .3s ease-in-out;
		border: 1px solid rgba(255, 255, 255, .4);

		&:after {
			top: 50%;
			left: 50%;
			content: '';
			width: 10px;
			height: 10px;
			display: block;
			position: absolute;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:hover {
			background: #103675;
			border-color: #103675;
		}
	}
	&_prev {
		left: 20px;

		&:after {
			margin-left: 3px;
			border-left: 1px solid #fff;
			border-bottom: 1px solid #fff;
		}
	}
	&_next {
		right: 20px;

		&:after {
			margin-left: -3px;
			border-top: 1px solid #fff;
			border-right: 1px solid #fff;
		}
	}
	&_pages {
		bottom: 20px;
		display: none;
		padding: 0px 15px;

		@mixin screen_to, $mobile {
			display: block;
		}
	}
	/*#endregion [object][;]*/

	/*#region [plugin][:]*/
	.swiper {
		&-pin {
			width: 10px;
			height: 10px;
			padding: 3px;
			border-radius: 50%;

			&:after {
				width: 4px;
				height: 4px;
				content: '';
				display: block;
				background: #fff;
				position: relative;
				border-radius: 50%;
				transition: all .2s ease-in-out;
			}

			& + .swiper-pin {
				margin-left: 10px;
			}

			&._active {
				&:after {
					transform: scale(2.5);
				}
			}
		}
	}
	/*#endregion [plugin][;]*/

	&._ptrn {
		&:after {
			background-size: 2px 2px;
			background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyIDIiPjxyZWN0IHg9IjAiIGZpbGw9IiNmZmYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48L3N2Zz4=);

			@mixin screen_to, $mobile {
				background-image: none;
			}
		}
	}
}