
$mw: 568px;


$wide: 1320px;
$mobile: 1024px;


/*[fonts][:]*/
$fg: 'Geometria-Regular', sans-serif;
$fgb: 'Geometria-Bold', sans-serif;
$fgl: 'Geometria-Light', sans-serif;
$fgi: 'Geometria-Italic', sans-serif;
$fgm: 'Geometria-Medium', sans-serif;
$fgeb: 'Geometria-ExtraBold', sans-serif;

$fpb: 'ProximaNova-Bold', sans-serif;
$fpl: 'ProximaNova-Light', sans-serif;
/*[fonts][;]*/

/*#region [site colors][:]*/
$c1: #0544ac;
$c2: #032763;
$c3: #e0e0e0;

$cb1: #0c3477;
$cb2: #015b9f;
$cb3: #e8378b;
$cb4: #78b834;
$cb5: #fc9f3f;
$cb6: #00aac9;
$cb7: #34b87b;
$cb8: #972dbe;

$cb1v2: #0b2f6d;
$cb2v2: #015494;
$cb3v2: #db3482;
$cb4v2: #70ac31;
$cb5v2: #f0963c;
$cb6v2: #019eb9;
$cb7v2: #31aa71;
$cb8v2: #8d2bb1;
/*#endregion [site colors][;]*/

/*#region [nets colors][:]*/
$vk: #45668e;
$ok: #f2720c;
$fb: #3b5998;
$tw: #00aced;
$ig: #517fa4;
$in: #007bb6;
$tg: #0088cc;
$yt: #bb0000;
$gp: #dd4b39;
$lj: #004359;
$st: #00aae7;
/*#endregion [nets colors][;]*/


