



.tbl1 {
	display: flex;
	flex-flow: wrap;
	margin: 30px 0px 60px;

	@mixin screen_to, $mobile {
		display: block;
		margin: 30px 0px;
	}

	p {
		margin: 0px;
	}
	img {
		display: block;
		max-width: none;
	}

	&_item {
		width: 100%;
		display: flex;
		margin-top: 5px;
		align-items: center;

		@mixin screen_to, $mobile {
			flex-flow: wrap;
		}

		&_info {
			flex-grow: 1;
			padding-left: 20px;
		}

		&:first-child {
			margin-top: 0px;
		}
	}

	&-v1 {
		@mixin screen_to, $mobile {
			display: block;
		}

		img {
			@mixin screen_to, $mobile {
				width: 100%;
				max-width: 100%;
			}
		}

		^&_item {
			@mixin screen_to, $mobile {
				margin-top: 20px;
			}
			&_info {
				@mixin screen_to, $mobile {
					padding: 10px 0px 0px;
				}
			}
		}
	}
	&-v2 {
		^&_item {
			width: calc(50% - (20px - 20px * 1/2));

			@mixin screen_to, $mobile {
				width: auto;
			}

			&:nth-child(2n) {
				@mixin screen_from, $mobile {
					margin-left: 20px;
				}
			}
			&:nth-child(-n+2) {
				@mixin screen_from, $mobile {
					margin-top: 0px;
				}
			}
		}
	}
}


.videos {
	display: flex;
	flex-flow: wrap;
	margin: 30px 0px;

	&_item {
		margin-top: 20px;
		position: relative;
		font: 0/0 sans-serif;
		width: calc(50% - (20px - 20px * 1/2));

		@mixin screen_to, $mobile {
			width: 100%;
		}

		iframe {
			top: 0px;
			left: 0px;
			z-index: 10;
			width: 100%;
			height: 100%;
			position: absolute;
		}
	
		&:after {
			content: '';
			display: block;
			position: relative;
			background: #dbdbdb;
			padding-bottom: 56.25%;
		}

		&:first-child {
			margin-top: 0px;
		}
		&:nth-child(2n) {
			@mixin screen_from, $mobile {
				margin-left: 20px;
			}
		}
		&:nth-child(-n+2) {
			@mixin screen_from, $mobile {
				margin-top: 0px;
			}
		}
	}
}








































.ltitle {
	@mixin screen_to, $mobile {
		padding: 0px 15px;
	}
}



