.facts {
	left: 0px;
	opacity: 0;
	width: 100%;
	bottom: 50px;
	z-index: 100;
	padding: 0px 80px;
	position: absolute;
	word-spacing: .03em;
	letter-spacing: .03em;
	transform: translateY(50px);
	transition: all .6s ease-out-sine;

	@mixin screen_to, $mobile {
		display: none;
	}

	&_wrap {
		width: 100%;
		display: flex;
		font-size: 16px;
		line-height: em(18, 16);
		margin: 0px auto;
		max-width: 1280px;

	}
	&_item {
		color: #fff;
		flex-basis: 25%;
		max-width: 250px;
		padding: 0px 10px;
		text-align: center;

		/*
		&_num {
			display: block;
			font: 24px/24px 'Geometria-ExtraBold';
		}
		&_name {
			display: block;
			margin-top: 6px;
			font: 18px/18px 'Geometria-Regular';
		}
		*/

		&_name {
			display: block;
			font-family: 'Geometria-Bold';
		}
		&_label {
			display: block;
			font-family: 'Geometria-Regular';
		}

		& + & {
			border-left: 1px solid #fff;
		}
	}

	&._show {
		opacity: 1;
		transform: none;
	}
}


