.facts {
	left: 0px;
	opacity: 0;
	width: 100%;
	bottom: 50px;
	z-index: 100;
	padding: 0px 80px;
	position: absolute;
	word-spacing: .03em;
	letter-spacing: .03em;
	transform: translateY(50px);
	transition: all .6s ease-out-sine;

	@mixin screen_to, $mobile {
		display: none;
	}

	&_item {
		color: #fff;
		text-align: center;
		display: table-cell;
		vertical-align: top;

		&_num {
			display: block;
			font: 24px/24px 'Geometria-ExtraBold';
		}
		&_name {
			display: block;
			margin-top: 6px;
			font: 18px/18px 'Geometria-Regular';
		}

		& + & {
			border-left: 1px solid #fff;
		}
	}
	&_wrap {
		width: 100%;
		display: table;
		margin: 0px auto;
		max-width: 1280px;
		table-layout: fixed;
	}

	&._show {
		opacity: 1;
		transform: none;
	}
}


