.files {
	color: $cb1;
	display: flex;
	flex-flow: wrap;
	max-width: 1360px;
	font: 0/0 sans-serif;
	margin: 60px auto 90px;

	@mixin screen_to, $mobile {
		display: block;
		max-width: $mw;
		margin: 40px auto;
	}

	&_item {
		display: block;
		min-height: 40px;
		margin-top: 30px;
		padding-left: 46px;
		position: relative;
		color: currentColor;
		text-decoration: none;
		transition: all .3s ease-in-out;
		font: 16px/20px 'Geometria-Medium';

		@mixin screen_to, $mobile {
			margin-left: 0px;
		}

		&:after {
			top: 0px;
			left: 0px;
			display: block;
			content: '\e808';
			font: 40px/1 'ico';
			position: absolute;
		}

		&_name {
			display: block;
			margin-bottom: 3px;
		}
		&_info {
			display: block;
			color: #d6d6d6;
		}

		& + & {
			margin-left: 65px;

			@mixin screen_to, $mobile {
				margin-left: 0px;
			}
		}
		&:first-child {
			margin-top: 0px;
		}
	}

	&-v1 {
		padding: 0px 20px;

		@mixin screen_to, $mobile {
			padding: 0px 15px;
		}

		^&_item {
			flex-basis: calc(33.3333% - (65px - 65px * 1/3));

			&:nth-child(3n+1) {
				margin-left: 0px;
			}
			&:nth-child(-n+3) {
				@mixin screen_from, $mobile {
					margin-top: 0px;
				}
			}
		}
	}
	&-v2 {
		^&_item {
			flex-basis: calc(50% - (65px - 65px * 1/2));

			&:nth-child(2n+1) {
				margin-left: 0px;
			}
			&:nth-child(-n+2) {
				@mixin screen_from, $mobile {
					margin-top: 0px;
				}
			}
		}
	}

	&._c2 {color: $cb2;}
	&._c3 {color: $cb3;}
	&._c4 {color: $cb4;}
	&._c5 {color: $cb5;}
	&._c6 {color: $cb6;}
	&._c7 {color: $cb7;}
	&._c8 {color: $cb8;}

	&:last-child {
		@mixin screen_to, $mobile {
			margin-bottom: 0px;
		}
	}
	&:first-child {
		margin-top: 0px;
	}
}