.finds {
	margin: 100px auto 0px;

	@mixin screen_to, $mobile {
		max-width: $mw;
		margin-top: 60px;
	}

	&_item {
		background: #fff;
		transition: all .3s ease-in-out;

		&:nth-child(even) {
			@mixin screen_to, $mobile {
				background: #f0f1f5;
			}
		}

		&_box {
			margin: 0px auto;
			max-width: 940px;
			padding: 36px 20px 33px;

			@mixin screen_to, $mobile {
				padding: 36px 15px 33px;
			}
		}
		&_lnk {
			color: currentColor;
			vertical-align: top;
			display: inline-block;
			text-decoration: none;
			transition: all .3s ease-in-out;
			font: 12px/16px 'Geometria-ExtraBold';

			@mixin screen_from, $wide {
				font: 14px/18px 'Geometria-ExtraBold';
			}
		}
		&_name {
			color: #000;
			vertical-align: top;
			display: inline-block;
			text-decoration: none;
			transition: all .3s ease-in-out;
			font: 18px/22px 'Geometria-Bold';

			@mixin screen_from, $wide {
				font: 20px/24px 'Geometria-Bold';
			}

			&:hover {
				color: #a0a2ad;
			}
		}
		&_text {
			margin-top: 30px;

			@mixin screen_from, $wide {
				font-size: 20px;
				line-height: 24px;
			}

			p {
				margin: 30px 0px 0px;

				&:first-child {
					margin-top: 0px;
				}
			}
		}
		&_path {
			color: $cb1;
			cursor: default;
			margin-top: 30px;
			text-transform: uppercase;

			&._c2 {color: $cb2;}
			&._c3 {color: $cb3;}
			&._c4 {color: $cb4;}
			&._c5 {color: $cb5;}
			&._c6 {color: $cb6;}
			&._c7 {color: $cb7;}
			&._c8 {color: $cb8;}
		}
		&_arrow {
			color: currentColor;
			vertical-align: top;
			font: 8px/16px 'ico';
			display: inline-block;
			margin: -1px 10px 0px;

			@mixin screen_from, $wide {
				line-height: 18px;
			}

			&:after {
				content: '\e803';
			}
		}

		&:hover {
			@mixin screen_from, $mobile {
				background: #f0f1f5;
			}
		}
	}
	&_title {
		margin-top: 0px;

		@mixin screen_to, $mobile {
			padding: 0px 15px;
		}
	}
}