.fresh {
	max-width: 1360px;
	margin: 60px auto 90px;

	@mixin screen_to, $mobile {
		max-width: $mw;
		margin: 40px auto;
	}

	&_box {
		display: flex;
		flex-flow: wrap;

		@mixin screen_to, $mobile {
			display: block;
		}
	}
	&_item {
		color: #000;
		display: block;
		font-size: 16px;
		margin-top: 30px;
		text-decoration: none;
		font-family: 'Geometria-Light';
		transition: color .3s ease-in-out;

		&_name {
			font-size: 112.5%;
			margin-bottom: 25px;
			font-family: 'Geometria-Bold';
		}
		&_text {
			p {
				margin: 25px 0px 0px;
			}
			& > :last-child {
				margin-bottom: 0px;
			}
			& > :first-child {
				margin-top: 0px;
			}
		}

		& + & {
			margin-left: 65px;

			@mixin screen_to, $mobile {
				margin-left: 0px;
			}
		}
	}
	&_title {
		color: #000;
		margin: 0px 0px 31px;
		font: 36px/40px 'Geometria-Bold';

		@mixin screen_from, $wide {
			font: 40px/44px 'Geometria-Bold';
		}
		@mixin screen_to, $mobile {
			font: 26px/30px 'Geometria-Bold';
		}

		a {
			color: #000;
			font-family: 'Geometria-Bold';
			
			&:hover {
				color: #9e9e9f;
			}
		}
	}

	&-v1 {
		padding: 0px 20px;

		@mixin screen_to, $mobile {
			padding: 0px 15px;
		}

		^&_item {
			flex-basis: calc(33.3333% - (65px - 65px * 1/3));

			&:nth-child(3n+1) {
				margin-left: 0px;
			}
			&:nth-child(-n+3) {
				@mixin screen_from, $mobile {
					margin-top: 0px;
				}
			}
		}
	}
	&-v2 {
		display: flex;
		flex-flow: wrap;

		@mixin screen_to, $mobile {
			display: block;
		}

		^&_item {
			flex-basis: calc(50% - (65px - 65px * 1/2));

			&:nth-child(2n+1) {
				margin-left: 0px;
			}
			&:nth-child(-n+2) {
				@mixin screen_from, $mobile {
					margin-top: 0px;
				}
			}
		}
	}

	&:last-child {
		@mixin screen_to, $mobile {
			margin-bottom: 0px;
		}
	}
	&:first-child {
		margin-top: 0px;
	}
}