.goods {
	margin: 0px auto;
	max-width: 1440px;

	@mixin screen_to, $mobile {
		max-width: $mw;
	}

	&:after {
		width: 100%;
		content: '';
		display: table;
	}

	&_case {
		@media print {
			page-break-before: always;
		}

		&:after {
			width: 100%;
			content: '';
			display: table;
		}
	}
	&_item {
		float: left;
		color: #000;
		display: block;
		width: 33.3333%;
		background: #fff;
		position: relative;
		text-align: center;
		vertical-align: top;
		text-decoration: none;
		background-size: contain;
		font-family: 'ProximaNova-Light';
		box-shadow: -1px -1px 0px 0px #fff;
		background-repeat: no-repeat;

		@mixin screen_to, $mobile {
			float: none;
			width: auto;
		}

		&:after {
			content: '';
			display: block;
			min-height: 320px;
			pointer-events: none;
			transition: all .3s ease-in-out;
			padding-bottom: calc(100% / (480 / 469));

			@mixin screen_to, $mobile {
				background: rgba(#fff, .8);
			}
		}

		&_btn {
			left: 50%;
			opacity: 0;
			bottom: 30px;
			display: block;
			position: absolute;
			margin-left: -139px;
			transition-delay: .1s;

			@mixin screen_to, $mobile {
				display: none;
			}
		}
		&_data {
			top: 0px;
			left: 0px;
			z-index: 15;
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			padding: 60px 60px 140px;

			@mixin screen_to, $mobile {
				display: flex;
				padding: 0px 15px;
				flex-flow: column;
				justify-content: center;
			}
		}
		&_name {
			display: block;
			font-size: 26px;
			padding: 0px 30px;
			position: relative;
			margin: 0px -60px 23px;
			font-family: 'Geometria-Medium';

			@mixin screen_to, $mobile {
				padding: 0px;
				font-size: 20px;
				margin: 0px 0px 23px;
			}
			@mixin screen_from, $wide {
				font-size: 28px;
			}

			&:after {
				content: '';
				width: 40px;
				height: 3px;
				display: block;
				background: #a0a2ad;
				margin: 20px auto 0px;
				transition: all .3s ease-in-out;
			}

			&._bold {
				font-size: 200%;
				font-family: 'Geometria-Bold';
			}
		}
		&_text {
			top: 30px;
			opacity: 0;
			position: relative;
			transition: all .3s ease-in-out;

			@mixin screen_to, $mobile {
				top: 0px;
				opacity: 1;
			}

			p {
				margin: 5px 0px 0px;

				&:last-child {
					margin-bottom: 0px;
				}
				&:first-child {
					margin-top: 0px;
				}
			}
		}

		&:hover {
			color: #000;

			&:after {
				background: rgba(#fff, .8);
			}

			^&_btn {
				opacity: 1;
				bottom: 60px;
				
				&._up {
					bottom: 100px;
				}
			}
			^&_text {
				top: 0px;
				opacity: 1;
			}

			.theme-2 & ^&_name:after {background: $cb2;}
			.theme-3 & ^&_name:after {background: $cb3;}
			.theme-4 & ^&_name:after {background: $cb4;}
			.theme-5 & ^&_name:after {background: $cb5;}
			.theme-6 & ^&_name:after {background: $cb6;}
			.theme-7 & ^&_name:after {background: $cb7;}
			.theme-8 & ^&_name:after {background: $cb8;}
		}
	}
	&_title {
		font-size: 225%;
		max-width: 900px;
		margin: 100px auto 60px;
		font-family: 'Geometria-Bold';

		@mixin screen_to, $mobile {
			font-size: 26px;
			padding: 0px 15px;
			margin: 57px auto 32px;
		}

		&:first-child {
			margin-top: 0px;
		}
	}
}