.hero {
	color: $cb1;
	max-width: 1440px;
	min-height: 420px;
	position: relative;
	margin: 0px auto 51px;
	background: 50% no-repeat;
	background-size: cover;

	@mixin screen_to, $mobile {
		margin-bottom: 40px;
	}

	&:after {
		top: 0px;
		left: 0px;
		z-index: 1;
		width: 100%;
		content: '';
		height: 100%;
		opacity: .65;
		display: block;
		position: absolute;
		background: currentColor;
	}

	p {
		margin: 0px;
	}

	&_box {
		top: 0px;
		left: 0px;
		z-index: 2;
		width: 100%;
		height: 100%;
		display: flex;
		position: absolute;
		align-items: center;
	}
	&_wrap {
		width: 100%;
		max-width: 930px;
		margin: 0px auto;
		padding: 0px 15px;
		font: 18px/22px $fpl;

		@mixin screen_to, $mobile {
			max-width: $mw;
			font: 16px/20px $fpl;
		}
	}
	&_text {
		color: #fff;
		max-width: 580px;
	}
	&_title {
		padding: 0px;
		color: #fff;
		max-width: 580px;
		font: 36px/42px $fgb;
		margin: -6px 0px 15px;

		@mixin screen_to, $mobile {
			font: 24px/28px $fgb;
		}
	}
	&_button {
		height: 40px;
		display: block;
		max-width: 180px;
		padding: 0px 20px;
		color: currentColor;
		margin: 25px 0px 0px;
		background: currentColor;
		text-transform: uppercase;
		transition: all .2s ease-in-out;

		&:after {
			color: #fff;
			font: 14px/42px $fgb;
			content: attr(data-txt);
			transition: all .2s ease-in-out;
		}

		&:hover {
			background: $c1;
		}
	}

	&._c2 {color: $cb2;}
	&._c3 {color: $cb3;}
	&._c4 {color: $cb4;}
	&._c5 {color: $cb5;}
	&._c6 {color: $cb6;}
	&._c7 {color: $cb7;}
	&._c8 {color: $cb8;}
}


