.jobs {
	margin: 80px auto 0px;

	@mixin screen_to, $mobile {
		margin-top: 60px;
	}

	&_item {
		overflow: hidden;
		background: #fff;
		border: solid 1px #e1e1e1;

		@media print {
			page-break-before: always;
		}

		&_col {
			width: 50%;
			float: left;

			&._left {
				padding-right: 25px;

				@mixin screen_to, $mobile {
					padding: 0px;
				}
			}
			&._right {
				padding-left: 25px;

				@mixin screen_to, $mobile {
					padding: 0px;
					margin-top: 40px;
				}
			}
			& > :last-child {
				margin-bottom: 0px;
			}
			& > :first-child {
				margin-top: 0px;
			}
			
		}
		&_btn {
			display: block;
			margin-top: 60px;

			@media print {
				display: none;
			}
			@mixin screen_to, $mobile {
				margin-top: 40px;
			}
		}
		&_head {
			display: flex;
			cursor: pointer;
			min-height: 100px;
			position: relative;
			align-items: center;
			padding: 20px 140px 20px 40px;
			transition: background .3s ease-in-out;

			@media print {
				background: #fff;
				border-bottom: solid 1px #e1e1e1;
			}
			@mixin screen_to, $mobile {
				padding: 20px 38px 20px 15px;
			}

			&:after {
				top: 0px;
				right: 0px;
				content: '';
				width: 100px;
				height: 100%;
				display: block;
				position: absolute;
				background: url(/assets/img/elements/site/arrow/bottom-[17x15]-1-1.png) center no-repeat;
				background-size: 8px 7px;

				@media print {
					content: normal;
				}
				@mixin screen_to, $mobile {
					width: 38px;
				}
			}

			&:hover {
				background: #f0f1f5;
			}
		}
		&_name {
			max-width: 100%;
			font-size: 112.5%;
			vertical-align: top;
			display: inline-block;
			font-family: 'Geometria-Bold';

			@mixin screen_to, $mobile {
				font-size: 16px;
			}
		}
		&_body {
			display: none;
			padding: 60px 40px;
			border-top: 1px solid #e1e1e1;

			@media print {
				display: block;
			}
			@mixin screen_to, $mobile {
				padding: 15px;
			}
		}
		&_info {
			display: block;
			
			&:after {
				width: 100%;
				content: '';
				display: table;
			}

			h3 {
				margin: 20px 0px;
			}
			aside {
				width: 50%;
				float: left;

				&.left {
					padding-right: 25px;

					@mixin screen_to, $mobile {
						padding: 0px;
					}
				}
				&.right {
					padding-left: 25px;
	
					@mixin screen_to, $mobile {
						padding: 0px;
						margin-top: 40px;
					}
				}
				& > :last-child {
					margin-bottom: 0px;
				}
				& > :first-child {
					margin-top: 0px;
				}
			}
			& > :last-child {
				margin-bottom: 0px;
			}
			& > :first-child {
				margin-top: 0px;
			}
		}

		& + & {
			margin-top: 30px;

			@mixin screen_to, $mobile {
				margin-top: 15px;
			}
		}
		&._open {
			^&_head {
				background: #f0f1f5;

				&:after {
					background-image: url(/assets/img/elements/site/arrow/top-[17x15]-1-1.png);
				}
			}
		}
	}
}