.links {
	color: $cb1;
	max-width: 1360px;
	margin: 60px auto 90px;

	@mixin screen_to, $mobile {
		max-width: $mw;
		margin: 40px auto;
	}

	a {
		color: currentColor;
		text-decoration: none;
		font-family: 'Geometria-Medium';
		transition: color .3s ease-in-out;
	}
	ul {
		padding: 0px;
		display: block;
		list-style: none;
		font-size: 14.6px;
		color: currentColor;
		margin: 0px !important;
	}
	li {
		display: block;
		color: currentColor;
		margin: 10px 0px 0px;

		&:before {
			display: none;
		}
		&:first-child {
			margin-top: 0px;
		}
	}

	&_title {
		color: #000;
		margin-bottom: 34px;
		font: 24px/28px 'Geometria-Bold';
		
		@mixin screen_from, $wide {
			padding-bottom: 2px;
			font: 28px/32px 'Geometria-Bold';
		}
		@mixin screen_to, $mobile {
			padding-bottom: 0px;
		}
	}

	&-v1 {
		padding: 0px 20px;

		@mixin screen_to, $mobile {
			padding: 0px 15px;
		}
	}

	&._c2 {color: $cb2;}
	&._c3 {color: $cb3;}
	&._c4 {color: $cb4;}
	&._c5 {color: $cb5;}
	&._c6 {color: $cb6;}
	&._c7 {color: $cb7;}
	&._c8 {color: $cb8;}

	&:last-child {
		@mixin screen_to, $mobile {
			margin-bottom: 0px;
		}
	}
	&:first-child {
		margin-top: 0px;
	}
}