.news {
	display: flex;
	flex-flow: wrap;
	margin: 0px auto;
	max-width: 1440px;
	border-top: solid 1px #ebebeb;
	border-left: solid 1px #ebebeb;
	border-right: solid 1px #ebebeb;

	@mixin screen_to, $mobile {
		border: none;
		display: block;
		max-width: $mw;
		padding: 0px 15px;
	}

	&_cell {
		width: 33.3334%;
		border-left: solid 1px #ebebeb;
		border-bottom: solid 1px #ebebeb;

		@mixin screen_to, $mobile {
			display: none;
		}
	}
	&_item {
		color: #000;
		display: block;
		width: 33.3334%;
		padding: 55px 20px;
		background: #fff;
		position: relative;
		text-decoration: none;
		transition: all .3s ease-in-out;
		border-left: solid 1px #ebebeb;
		font-family: 'ProximaNova-Light';
		border-bottom: solid 1px #ebebeb;

		@mixin screen_to, $mobile {
			width: auto;
			padding: 15px 15px 11px;
			border-right: solid 1px #ebebeb;
		}

		&_src {
			margin: 0px auto;
			max-width: 370px;
			transform: scale(1);
			font: 0/0 sans-serif;
			transition: all .3s ease-in-out;
		}
		&_img {
			width: 100%;
			height: auto;
			max-width: 100%;
		}
		&_sep {
			color: #d7d7d7;
			margin: 0px 5px;
			font-size: 81.25%;
			font-family: 'Geometria-Regular';
		}
		&_type {
			font-size: 75%;
			text-transform: uppercase;
		}
		&_date {
			font-size: 81.25%;
		}
		&_info {
			color: #9e9e9f;
			max-width: 370px;
			margin: 25px auto 0px;
			font-family: 'Geometria-Medium';

			@mixin screen_to, $mobile {
				margin-top: px;
			}

			&:first-child {
				margin-top: 0px;
			}
		}
		&_name {
			display: block;
			max-width: 370px;
			font-size: 112.5%;
			margin: 25px auto 0px;
			font-family: 'Geometria-Bold';

			@mixin screen_to, $mobile {
				margin-top: 13px;
			}
		}
		&_text {
			max-width: 370px;
			margin: 25px auto 0px;

			@mixin screen_to, $mobile {
				margin-top: 12px;
			}

			p {
				margin: 0px;
			}
		}

		&:hover {
			color: #000;
			background: #f6f7fb;

			^&_src {
				transform: scale(1.05);
			}
		}
		&:first-child {
			@mixin screen_to, $mobile {
				border-top: solid 1px #ebebeb;
			}
		}
		&:first-child,
		&:nth-child(3n+1) {
			@mixin screen_from, $mobile {
				border-left: none;
			}
		}
		
		.theme-1 &:hover {background: rgba($cb1, .05);}
		.theme-2 &:hover {background: rgba($cb2, .05);}
		.theme-3 &:hover {background: rgba($cb3, .05);}
		.theme-4 &:hover {background: rgba($cb4, .05);}
		.theme-5 &:hover {background: rgba($cb5, .05);}
		.theme-6 &:hover {background: rgba($cb6, .05);}
		.theme-7 &:hover {background: rgba($cb7, .05);}
		.theme-8 &:hover {background: rgba($cb8, .05);}
	}
}