.ovflw {
	@mixin screen_to, $mobile {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	&._table {
	}
	&._table_default {
		margin: 30px 0px 60px;
		
		@mixin screen_to, $mobile {
			margin: 30px 0px;
		}
	}
	& > :last-child {
		margin-bottom: 0px;
	}
	& > :first-child {
		margin-top: 0px;
	}
}