.useful {
	max-width: 1360px;
	margin: 90px auto;
	padding: 0px 20px;

	@mixin screen_to, $mobile {
		max-width: $mw;
		margin: 40px auto;
		padding: 0px 15px;
	}

	&_box {
		display: flex;
		flex-flow: wrap;
	}
	&_cell {
		position: relative;

		& > :last-child {
			margin-bottom: 0px;
		}
		& > :first-child {
			margin-top: 0px;
		}

		&._lft {
			padding-right: 30px;
			flex-basis: 66.6667%;

			@mixin screen_to, $mobile {
				order: 2;
				padding: 0px;
				flex-basis: 100%;
			}
		}
		&._rgt {
			padding-left: 60px;
			flex-basis: 33.3334%;

			@mixin screen_to, $mobile {
				order: 4;
				padding: 0px;
				flex-basis: 100%;
			}

			&:after {
				top: 50%;
				left: 0px;
				width: 1px;
				content: '';
				height: 76px;
				margin-top: -38px;
				position: absolute;
				background: #dcdcdc;

				@mixin screen_to, $mobile {
					content: normal;
				}
			}
		}
		&._head {
			display: flex;
			margin-bottom: 31px;
			align-items: flex-end;

			&:after {
				content: normal;
			}

			&._lft {
				@mixin screen_to, $mobile {
					order: 1;
				}
			}
			&._rgt {
				@mixin screen_to, $mobile {
					order: 3;
					margin-top: 40px;
				}
			}
		}
		&:empty {
			@mixin screen_to, $mobile {
				display: none;
			}
		}
	}
	&_title {
		margin: 0px;
		color: #000;

		a {
			color: #000;
			
			&:hover {
				color: #9e9e9f;
			}
		}

		&._lft {
			font: 36px/40px 'Geometria-Bold';

			@mixin screen_from, $wide {
				font: 40px/44px 'Geometria-Bold';
			}
			@mixin screen_to, $mobile {
				font: 26px/30px 'Geometria-Bold';
			}
		}
		&._rgt {
			padding-bottom: 3px;
			font: 24px/28px 'Geometria-Bold';
			
			@mixin screen_from, $wide {
				padding-bottom: 2px;
				font: 28px/32px 'Geometria-Bold';
			}
			@mixin screen_to, $mobile {
				padding-bottom: 0px;
			}
		}
	}

	.wrapper & {
		padding: 0px;

		@mixin screen_to, $mobile {
			padding: 0px;
		}
	}
}