.pvideo {
	right: 0px;
	opacity: 0;
	bottom: 0px;
	width: 100%;
	height: 100%;
	z-index: 550;
	padding: 42px;
	overflow: auto;
	position: fixed;
	text-align: center;
	visibility: hidden;
	transition: opacity .4s ease-in-out,
				visibility .4s ease-in-out;
				
	&:after,
	&:before {
		top: 0px;
		left: 0px;
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		transition: all .6s ease-in-out;
	}
	&:after {
		z-index: 1;
		background: linear-gradient(180deg, rgba(8, 41, 153, .86) 0, rgba(0, 208, 255, .86));
	}
	&:before {
		z-index: 0;
		background: url('/assets/img/design/pattern/1.png');
	}

	/*[scheme][:]*/
	&_box {
		display: table-cell;
		vertical-align: middle;
	}
	&_wrap {
		width: 100%;
		height: 100%;
		display: table;
	}
	&_view {
		z-index: 15;
		position: relative;
		vertical-align: top;

		&._y {
			display: inline-block;
		}
	}
	/*[scheme][;]*/
	
	/*[object][:]*/
	&_size {
		width: 100%;
		height: auto;
		display: block;
		max-width: 100%;
		max-height: 100%;
		visibility: hidden;
		pointer-events: none;

		&._y {
			width: auto;
			height: calc(100vh - 84px);
		}
	}
	&_item {
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		position: absolute;
	}
	&_close {
		top: 8px;
		right: 8px;
		z-index: 30;
		width: 26px;
		height: 26px;
		color: #fff;
		display: block;
		background: none;
		position: absolute;
		transition: all .2s ease-in-out;

		&:after {
			width: 4px;
			height: 30px;
		}
		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			display: block;
			position: absolute;
			border-radius: 4px;
			background: currentColor;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:before {
			width: 30px;
			height: 4px;
		}
	}
	&_overlay {
		top: 0px;
		left: 0px;
		z-index: 10;
		width: 100%;
		height: 100%;
		cursor: pointer;
		position: absolute;
	}
	/*[object][;]*/

	&._hide {
		right: 150%;
		bottom: 150%;
	}
	&._show {
		opacity: 1;
		visibility: visible;
	}
}


