.lbeep {
	color: #000;
	display: block;
	margin: 0px auto;
	max-width: 1340px;
	text-align: center;
	padding: 115px 15px;
	text-decoration: none;
	font-family: 'ProximaNova-Light';

	@media print {
		display: none;
	}
	@mixin screen_to, $mobile {
		max-width: $mw;
		padding: 0px 15px;
		margin: 40px auto 0px;
	}

	&_text {
		margin-top: 29px;

		@mixin screen_from, $wide {
			margin-top: 27px;
		}
		@mixin screen_to, $mobile {
			margin-top: 31px;
		}

		p {
			margin: 30px 0px;

			&:last-child {
				margin-bottom: 0px;
			}
			&:first-child {
				margin-top: 0px;
			}
		}
	}
	&_title {
		display: block;
		text-transform: uppercase;
		font: 32px/36px 'Geometria-ExtraBold';

		@mixin screen_to, $mobile {
			font: 24px/28px 'Geometria-ExtraBold';
		}
		@mixin screen_from, $wide {
			font: 36px/40px 'Geometria-ExtraBold';
		}
	}
	&_button {
		width: 278px;
		height: 60px;
		color: #fff;
		display: block;
		letter-spacing: 3px;
		background: #103675;
		margin: 36px auto 0px;
		text-transform: uppercase;
		transition: all .3s ease-in-out;
		font: 16px/64px 'Geometria-ExtraBold';

		@mixin screen_to, $mobile {
			width: 228px;
			height: 40px;
			font: 14px/44px 'Geometria-ExtraBold';
		}
		@mixin screen_from, $wide {
			font-size: 18px;
		}
		
		&:hover {
			background: #032763;
		}
	}
}