.lgoods {
	display: flex;
	overflow: hidden;
	margin: 0px auto;
	max-width: 1440px;
	font: 0/0 sans-serif;

	@mixin screen_to, $mobile {
		display: block;
		max-width: $mw;
	}

	&_item {
		width: 50%;
		opacity: 0;
		color: $cb1;
		min-height: 380px;
		position: relative;
		visibility: hidden;
		vertical-align: top;
		display: inline-block;
		transform: translateY(-50%);
		background: #fff 50% no-repeat;
		transition: all .8s ease-in-out-quad;
		background-size: cover;

		@mixin screen_to, $mobile {
			opacity: 1;
			width: auto;
			display: block;
			transform: none;
			transition: none;
			visibility: visible;
			background-position-x: 35%;
			box-shadow: inset 200px 0px 150px #fff;
		}

		&:after {
			content: '';
			display: block;
			pointer-events: none;
			padding-bottom: calc(100% / (640 / 440));

			@mixin screen_to, $mobile {
				top: 0px;
				left: 0px;
				width: 100%;
				height: 5px;
				padding: 0px;
				position: absolute;
				background: currentColor;
			}
		}

		&_data {
			top: 0px;
			left: 0px;
			width: 62%;
			height: 100%;
			display: block;
			position: absolute;
			color: currentColor;
			padding: 89px 80px 0px;

			@mixin screen_to, $mobile {
				padding: 42px 15px 0px;
			}

		}
		&_name {
			display: block;
			color: currentColor;
			text-transform: uppercase;
			transition: all .2s ease-in-out;
			font: 24px/24px 'Geometria-ExtraBold';

			&:hover {
				color: #a0a2ac;
			}
		}
		&_text {
			color: #000;
			margin-top: 22px;
			font: 16px/20px 'ProximaNova-Light';

			p {
				margin: 0px;
			}
		}
		&_play {
			left: 80px;
			width: 76px;
			height: 76px;
			bottom: 90px;
			display: block;
			position: absolute;
			border-radius: 50%;
			background: transparent;
			border: 3px solid #a0a2ac;
			transition: all .2s ease-in-out;

			@mixin screen_to, $mobile {
				left: auto;
				right: 40px;
				width: 60px;
				height: 60px;
				bottom: 40px;
			}

			&:after {
				width: 0px;
				height: 0px;
				content: '';
				margin-left: 5px;
				border-style: solid;
				display: inline-block;
				transition: all .2s ease-in-out;
				border-width: 12px 0px 12px 20px;
				border-color: transparent transparent transparent #a0a2ac;

				@mixin screen_to, $mobile {
					border-width: 10px 0px 10px 16px;
				}
			}

			&:hover {
				background: #a0a2ac;

				&:after {
					border-left-color: #fff;
				}
			}
		}

		&._c2 {color: $cb2;}
		&._c3 {color: $cb3;}
		&._c4 {color: $cb4;}
		&._c5 {color: $cb5;}
		&._c6 {color: $cb6;}
		&._c7 {color: $cb7;}
		&._c8 {color: $cb8;}
		&._show {
			opacity: 1;
			transform: none;
			visibility: visible;
		}
		&:nth-child(2n) {
			transition-delay: .25s;
		}
	}
}


