.lGrid {
	margin: 0px auto;
	overflow: hidden;
	max-width: 1920px;
	font: 0/0 sans-serif;
	border: 1px solid #fff;

	@mixin screen_to, $mobile {
		border: none;
		max-width: $mw;
	}

	/*#region [scheme][:]*/
	&_wrap {
		display: block;

		@mixin screen_to, $mobile {
			display: flex;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_item {
		float: left;
		color: #fff;
		display: block;
		width: 33.3333%;
		overflow: hidden;
		position: relative;
		text-align: center;
		word-spacing: normal;
		letter-spacing: normal;
		text-transform: uppercase;
		transition: color .2s ease-in-out;
		box-shadow: inset 0px 0px 0px 1px #fff;

		@mixin screen_to, $mobile {
			width: 100%;
			box-shadow: none;
		}

		&:after,
		&:before {
			content: '';
			display: block;
			pointer-events: none;
		}
		&:after {
			top: 0px;
			left: 0px;
			z-index: -1;
			width: 100%;
			height: 100px;
			background: $cb1;
			position: absolute;
			transition: all .6s ease-in-out;

			@mixin screen_to, $mobile {
				content: normal;
			}
		}
		&:before {
			padding-bottom: 100%;
		}

		&_img {
			top: 0px;
			left: 0px;
			z-index: -1;
			width: 100%;
			height: 100%;
			position: absolute;
			background: no-repeat;
			background-size: cover;
			transform: translateZ(0);
			transition: all .8s ease-in-out;
		}
		&_data {
			top: 0px;
			left: 0px;
			color: $cb1;
			width: 100%;
			padding: 0px 15px;
			position: absolute;
			transform: translateZ(0);
			transition: all .6s ease-in-out;
			font: 14px/18px 'Geometria-ExtraBold';

			@mixin screen_to, $mobile {
				height: calc(100% - 50px);
				background: rgba($cb1, .4);
			}

			&:after {
				left: 50%;
				bottom: 9px;
				content: "";
				width: 40px;
				height: 3px;
				display: block;
				position: absolute;
				margin-left: -20px;
				background: currentColor;

				@mixin screen_to, $mobile {
					left: 0px;
					width: 100%;
					margin: 0px;
					height: 50px;
					opacity: .85;
					bottom: -50px;
				}
			}

			&._c2 {color: $cb2;}
			&._c3 {color: $cb3;}
			&._c4 {color: $cb4;}
			&._c5 {color: $cb5;}
			&._c6 {color: $cb6;}
			&._c7 {color: $cb7;}
			&._c8 {color: $cb8;}
		}
		&_name {
			width: 100%;
			color: #fff;
			display: table;
			margin: 0px auto;
			padding: 10px 0px;
			min-height: 100px;

			@mixin screen_to, $mobile {
				height: 100%;
				max-width: 320px;
			}

			span {
				display: table-cell;
				vertical-align: middle;
			}
		}

		&._1x1 {
			@mixin screen_from, $mobile {
				width: 25%;
			}
		}
		&._2x1,
		&._2x2 {
			@mixin screen_from, $mobile {
				width: 50%;
			}
		}
		&._2x1 {
			&:before {
				@mixin screen_from, $mobile {
					padding-bottom: 50%;
				}
			}
		}
		&:hover {
			color: #fff;

			&:after {
				height: 100%;
				background: rgba(#1b3474, .3);
			}

			^&_img {
				@mixin screen_from, $mobile {
					transform: scale(1.025);
				}
			}
			^&_data {
				@mixin screen_from, $mobile {
					top: 50%;
					transform: translateY(-49.9999%);
				}
			}
		}

	}
	&_pages {
		bottom: 20px;
		display: none;
		padding: 0px 15px;

		@mixin screen_to, $mobile {
			display: block;
		}
	}
	/*#endregion [object][;]*/

	/*[plugin][:]*/
	.swiper {
		&-pin {
			width: 10px;
			height: 10px;
			padding: 3px;
			border-radius: 50%;

			&:after {
				width: 4px;
				height: 4px;
				content: '';
				display: block;
				background: #fff;
				position: relative;
				border-radius: 50%;
				transition: all .2s ease-in-out;
			}

			& + .swiper-pin {
				margin-left: 10px;
			}

			&._active {
				&:after {
					transform: scale(2.5);
				}
			}
		}
	}
	/*[plugin][;]*/

}


