.lnews {
	overflow: hidden;
	position: relative;
	font: 0/0 sans-serif;
	background: #3e4148;

	@mixin screen_to, $mobile {
		max-width: $mw;
		margin: 0px auto;
	}

	&:after,
	&:before {
		top: 0px;
		width: 50%;
		z-index: -1;
		content: '';
		height: 100%;
		display: block;
		position: absolute;

		@mixin screen_to, $mobile {
			content: normal;
		}
	}
	&:after {
		right: 0px;
		background: #4f5259;
	}
	&:before {
		left: 0px;
		background: #3e4148;
	}

	/*[scheme][:]*/
	&_box {
		display: flex;
		margin: 0px auto;
		max-width: 1440px;

		@mixin screen_to, $mobile {
			display: block;
		}
	}
	&_column {
		flex-grow: 1;
		flex-basis: 0;
		display: flex;
		flex-flow: column;
		position: relative;
		padding: 65px 80px 54px;

		@mixin screen_to, $mobile {
			padding: 36px 15px;
		}

		&_body {
			display: flex;
			margin-bottom: 71px;

			@mixin screen_to, $mobile {
				display: block;
				margin-bottom: 0px;
			}

			&:last-child {
				margin-bottom: 0px;
			}
		}
		&_foot {
			left: 0px;
			width: 100%;
			bottom: 56px;
			margin: 0px auto;
			padding: 0px 80px;
			position: absolute;

			@mixin screen_to, $mobile {
				bottom: auto;
				padding: 0px;
				margin-top: 31px;
				max-width: 320px;
				position: relative;
			}
		}

		&._1 {
			flex-basis: 66.6667%;
			background: #3e4148;
		}
		&._2 {
			flex-basis: 33.3334%;
			background: #4f5259;
		}
	}
	/*[scheme][;]*/
	
	/*[object][:]*/
	&_item {
		flex-grow: 1;
		color: #fff;
		flex-basis: 0;
		display: block;
		padding-top: 29px;
		position: relative;
		word-spacing: .03em;
		vertical-align: top;
		letter-spacing: .03em;

		@mixin screen_to, $mobile {
			max-width: 320px;
			margin: 0px auto;
			padding-top: 0px;
		}

		&_mark {
			top: 0px;
			left: -8px;
			height: 22px;
			color: #fff;
			padding: 0px 8px;
			position: absolute;
			background: #ea318b;
			display: inline-block;
			text-transform: uppercase;
			font: 14px/24px 'Geometria-Regular';
			
			@mixin screen_to, $mobile {
				position: relative;
				margin-bottom: 7px;
			}
		}
		&_name {
			display: block;
			font: 18px/24px 'Geometria-Bold';
		}
		&_text {
			display: block;
			margin-top: 19px;
			font: 13px/20px 'Geometria-Regular';
		}

		& + & {
			@mixin screen_to, $mobile {
				margin-top: 29px;
			}
			@mixin screen_from, $mobile {
				margin-left: 80px;
			}
		}
		&:hover {
			color: #a9bcd7;
		}
	}
	&_more {
		color: #fff;
		position: relative;
		padding-right: 20px;
		vertical-align: top;
		display: inline-block;
		font: 16px/18px 'Geometria-Regular';
		background: url('/assets/img/elements/site/arrow/right-[20x23]-1-1.png') 100% 50% no-repeat;
		background-size: 8px 9px;
		
		&:hover {
			color: #a9bcd7;
			background-image: url('/assets/img/elements/site/arrow/right-[20x23]-1-7.png');
		}
	}
	&_title {
		color: #fff;
		display: block;
		word-spacing: .03em;
		margin-bottom: 32px;
		letter-spacing: .03em;
		font: 32px/1 'Geometria-Bold';

		@mixin screen_to, $mobile {
			font-size: 24px;
			text-align: center;
		}

		&:hover {
			color: #a9bcd7;
		}
	}
	/*[object][;]*/

	&._no_events {
		&:after,
		&:before {
			content: normal;
		}
	}
}


