.ubeep {
	color: #000;
	display: flex;
	margin: 60px 0px;
	min-height: 368px;
	text-align: center;
	align-items: center;
	background: #f0f1f6;
	text-decoration: none;
	font-family: 'ProximaNova-Light';

	@mixin screen_to, $mobile {
		margin: 40px 0px;
	}

	&_box {
		margin: 0px auto;
		padding: 0px 20px;
		max-width: 1160px;

		@mixin screen_to, $mobile {
			max-width: $mw;
			padding: 0px 15px;
		}
		
		p {
			margin: 25px 0px;
		}
		& > :last-child {
			margin-bottom: 0px;
		}
		& > :first-child {
			margin-top: 0px;
		}
	}
	&_btn {
	}
	&_title {
		font-size: 200%;
		text-transform: uppercase;
		font-family: 'Geometria-ExtraBold';

		@mixin screen_to, $mobile {
			font-size: 26px;
		}
	}
	
	&:hover {
		color: #000;
	}
	&:last-child {
		@mixin screen_to, $mobile {
			margin-bottom: 0px;
		}
	}
	&:first-child {
		margin-top: 0px;
	}
}