.uproduct {
	color: #000;
	display: flex;
	overflow: hidden;
	margin: 0px auto;
	max-width: 1440px;
	min-height: 610px;
	position: relative;
	text-decoration: none;
	font-family: 'ProximaNova-Light';

	@mixin screen_to, $mobile {
		min-height: auto;
		padding-bottom: 20px;
	}

	&:before {
		top: 0px;
		left: 0px;
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background: url(/assets/img/elements/site/backgrounds/product/1.jpg) 50% no-repeat;
		background-size: cover;
	}

	&_box {
		z-index: 10;
		display: flex;
		margin: 0px auto;
		max-width: 1120px;
		position: relative;

		@mixin screen_to, $mobile {
			display: block;
			max-width: $mw;
			padding: 0px 15px;
		}
	}
	&_src {
		flex-grow: 1;
		flex-basis: 0;
		display: flex;
		align-items: flex-end;

		@mixin screen_to, $mobile {
			width: 220px;
			margin: 0px auto;
		}
	}
	&_btn {
		margin-top: 25px;

		@mixin screen_to, $mobile {
		}
	}
	&_info {
		flex-grow: 1;
		flex-basis: 0;
		padding-top: 100px;

		@mixin screen_to, $mobile {
			padding-top: 16px;
		}
	}
	&_text {
		margin-top: 25px;

		@mixin screen_to, $mobile {
			margin-top: 12px;
		}

		p {
			margin: 0px;
		}
	}
	&_title {
		display: block;
		font-size: 150%;
		font-family: 'Geometria-ExtraBold';

		+ ^&_text {
			margin-top: 21px;
		}
	}
	&_subtitle {
		display: block;
		margin-top: 30px;
		font-size: 112.5%;
		font-family: 'Geometria-Bold';

		@mixin screen_to, $mobile {
			margin-top: 21px;
		}
	}

	&._c3 {
		background-image: url(/assets/img/elements/site/backgrounds/product/2.jpg);
	}
	&._c4 {
		background-image: url(/assets/img/elements/site/backgrounds/product/3.jpg);
	}
	&._c5 {
		background-image: url(/assets/img/elements/site/backgrounds/product/4.jpg);
	}
	&:hover {
		color: #000;
	}
}