.usolution {
	margin: 60px auto;
	max-width: 1280px;

	@mixin screen_to, $mobile {
		max-width: $mw;
		margin: 40px auto;
	}

	&_name {
		font-size: 150%;
		max-width: 900px;
		margin: 0px auto 30px;
		font-family: 'Geometria-Bold';

		@mixin screen_to, $mobile {
			padding: 0px 15px;
		}
	}
	&_view {
		border: none;
		display: block;
		position: relative;

		&_box {
			top: 0px;
			left: 0px;
			opacity: 0;
			width: 100%;
			height: 100%;
			display: flex;
			position: absolute;
			text-align: center;
			align-items: center;
			justify-content: center;
			background: rgba(#fff, .8);
			transition: all .3s ease-in-out;
			
			@mixin screen_to, $mobile {
				opacity: 1;
				background: rgba(#fff, .4);
			}
		}

		&:hover {
			^&_box {
				opacity: 1;
			}
		}
	}
}