.uvideo {
	width: 100%;
	margin: 30px auto;
	position: relative;

	iframe {
		top: 0px;
		left: 0px;
		z-index: 10;
		width: 100%;
		height: 100%;
		position: absolute;
	}

	&:after {
		content: '';
		display: block;
		position: relative;
		background: #dbdbdb;
		padding-bottom: 56.25%;
	}

	&:last-child {
		margin-bottom: 0px;
	}
	&:first-child {
		margin-top: 0px;
	}
}