@font-face {
	font-family: 'ico';
	src: url('../fonts/icons.eot');
	src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/icons.woff2') format('woff2'),
		 url('../fonts/icons.woff') format('woff'),
		 url('../fonts/icons.ttf') format('truetype'),
		 url('../fonts/icons.svg?#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon-download:before {content: '\e808';}

.icon-arrow_up_1:before {content: '\e800';}
.icon-arrow_down_1:before {content: '\e801';}
.icon-arrow_left_1:before {content: '\e802';}
.icon-arrow_right_1:before {content: '\e803';}

.icon-arrow_up_2:before {content: '\e804';}
.icon-arrow_down_2:before {content: '\e805';}
.icon-arrow_left_2:before {content: '\e806';}
.icon-arrow_right_2:before {content: '\e807';}