﻿
/**
 * @author Ivan Pasechny <ipasechny@gmail.com>
**/

*,
*:after,
*:before {
	outline: none;
	box-sizing: border-box;
}
::-moz-selection {
	color: #fff;
	background: #103675;
}
::selection {
	color: #fff;
	background: #103675;
}

html,
body {
	width: 100%;
	height: 100%;
}
body {
	color: #000;
	font-size: 100%;
	position: absolute;
	word-spacing: .03em;
	letter-spacing: .03em;
	-webkit-text-stroke: 0px;
	-webkit-text-size-adjust: none;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: subpixel-antialiased !important;
	backface-visibility: hidden;
}

#page {
	min-height: 100%;
	margin: 0px auto;
	position: relative;
	padding: 0px 0px 148px;

	@mixin screen_to, $mobile {
		padding: 50px 0px 0px;
	}
}

/*[=Fonts <]*/
body {
	font-family: 'ProximaNova-Light', Arial, Helvetica, sans-serif;
}
i,
em {
	font-family: 'Geometria-Italic', Arial, Helvetica, sans-serif;
}
b,
strong {
	font-family: 'ProximaNova-Bold', Arial, Helvetica, sans-serif;
}
/*[=Fonts <]*/

/*[=Scroll up <]*/
#scroll-up {
	opacity: .5;
	right: 20px;
	width: 50px;
	height: 50px;
	bottom: 55px;
	z-index: 100;
	display: block;
	position: fixed;
	background: url(/assets/img/elements/site/button/up-50x50-1-1.png) center no-repeat;
	transition: all .2s ease-in-out;
}
#scroll-up._hide {
	opacity: 0;
	visibility: hidden;
}
#scroll-up:hover {
	opacity: 1;
}
/*[=Scroll up >]*/

/*[==Content main <]*/
.content {
	margin: 0px auto;
}
.content > p,
.wrapper > p {
	line-height: 26px;
}
.wrapper {
	max-width: 1060px;
	margin: 90px auto;
	padding: 0px 80px;

	@mixin screen_to, $mobile {
		max-width: $mw;
		margin: 40px auto;
		padding: 0px 15px;
	}

	&:last-child {
		@mixin screen_to, $mobile {
			margin-bottom: 0px;
		}
	}
}
.wrapper:after {
	clear: both;
	content: '';
	display: block;
}
.wrapper > :last-child {
	margin-bottom: 0px !important;
}
.wrapper > :first-child {
	margin-top: 0px !important;
}

/*[===Group <]*/

/*[Link <]*/

/*[Link back <]*/
.link-back {
	color: $cb1;
	height: 20px;
	padding-top: 1px;
	line-height: 20px;
	padding-left: 20px;
	position: relative;
	text-decoration: none;
	font-family: 'Geometria-Bold';
	transition: all .3s ease-in-out;

	&:after {
		top: 50%;
		left: 0px;
		display: block;
		margin-top: -4px;
		content: '\e802';
		font: 8px/1 'ico';
		position: absolute;
	}

	& + & {
		margin-left: 30px;
	}
	.theme-2 & {color: $cb2;}
	.theme-3 & {color: $cb3;}
	.theme-4 & {color: $cb4;}
	.theme-5 & {color: $cb5;}
	.theme-6 & {color: $cb6;}
	.theme-7 & {color: $cb7;}
	.theme-8 & {color: $cb8;}
}
/*[Link back >]*/

/*[Link details <]*/
.link-details {
	float: left;
	clear: both;
	color: $cb1;
	position: relative;
	padding-right: 20px;
	padding-bottom: 1px;
	text-decoration: none;
	font-family: 'Geometria-Medium';
	transition: all .3s ease-in-out;

	&:after {
		top: 50%;
		right: 0px;
		display: block;
		margin-top: -4px;
		content: '\e803';
		font: 8px/1 'ico';
		position: absolute;
	}

	.theme-2 & {color: $cb2;}
	.theme-3 & {color: $cb3;}
	.theme-4 & {color: $cb4;}
	.theme-5 & {color: $cb5;}
	.theme-6 & {color: $cb6;}
	.theme-7 & {color: $cb7;}
	.theme-8 & {color: $cb8;}
}
/*[Link details >]*/

/*[Link <]*/

/*[Item <]*/

/*[File item <]*/
.file-item {
	color: #000;
	display: block;
	padding-left: 45px;
	text-decoration: none;
	vertical-align: middle;
	font-family: 'Geometria-Medium';
	background: top left no-repeat;
	transition: all .3s ease-in-out;
	background-size: 32px 40px;
}
.file-item .name {
	display: block;
	margin-bottom: 3px;
}
.file-item .data {
	color: #d6d6d6;
	display: block;
}
.file-item,
.theme-1 .file-item {
	color: #103675;
	background-image: url(/assets/img/elements/site/ico/3-[62x80]-2.png);
}
.theme-2 .file-item {
	color: #005a9f;
	background-image: url(/assets/img/elements/site/ico/3-[62x80]-3.png);
}
.theme-3 .file-item {
	color: #e8378b;
	background-image: url(/assets/img/elements/site/ico/3-[62x80]-4.png);
}
.theme-4 .file-item {
	color: #78b833;
	background-image: url(/assets/img/elements/site/ico/3-[62x80]-5.png);
}
.theme-5 .file-item {
	color: #fc9f3f;
	background-image: url(/assets/img/elements/site/ico/3-[62x80]-7.png);
}
.file-item:hover {
	color: #a0a2ad;
	background-image: url(/assets/img/elements/site/ico/3-[62x80]-6.png);
}
/*[File item >]*/

/*[Item >]*/

/*[Block <]*/

/*[Text block <]*/
.text-block {
	margin: 60px 0px 25px;
}
.text-block > :last-child {
	margin-bottom: 0px;
}
.text-block > :first-child {
	margin-top: 0px;
}
/*[Text block >]*/

/*[Contacts data block <]*/
.contacts-data-block {
	margin-bottom: 60px;
}
.contacts-data-block table {
	width: auto;
	margin: 0px;
	min-width: inherit;
}
.contacts-data-block table tbody th,
.contacts-data-block table tbody td {
	border: none;
	background: #fff;
	text-align: left;
	vertical-align: top;
	padding: 15px 0px 0px;
}
.contacts-data-block table tbody tr {
	border: none;
}
.contacts-data-block table tbody th {
	padding: 15px 15px 0px 0px;
	font-family: 'Geometria-Medium';
}
.contacts-data-block table tbody th > :last-child,
.contacts-data-block table tbody td > :last-child {
	margin-bottom: 0px;
}
.contacts-data-block table tbody th > :first-child,
.contacts-data-block table tbody td > :first-child {
	margin-top: 0px;
}
.contacts-data-block table tbody tr:first-child th,
.contacts-data-block table tbody tr:first-child td {
	padding-top: 0px;
}
/*[Contacts data block >]*/

/*[Block >]*/

/*[===Group >]*/

/*[===Single <]*/

/*[Page info <]*/
.page-info {
	color: #9e9e9f;
	margin-bottom: 50px;
	font-family: 'Geometria-Medium';
}
.page-info .date {
	font-size: 81.25%;
}
.page-info .divider {
	color: #d7d7d7;
	margin: 0px 5px;
	font-size: 81.25%;
	font-family: 'Geometria-Regular';
}
.page-info .category {
	font-size: 75%;
	text-transform: uppercase;
}
/*[Page info >]*/

/*[Page options <]*/
.page-options {
	width: 1280px;
	margin: 90px auto;
	padding: 0px 80px;
}
.page-options:after {
	clear: both;
	content: '';
	display: block;
}
.wrapper .page-options {
	width: auto;
	padding: 0px;
	margin: 0px auto;
}
/*[Page options >]*/

/*[Related links <]*/
.related-links {
	max-width: 1440px;
	margin: 90px auto;
	padding: 0px 60px;
}
.related-links:after {
	clear: both;
	content: '';
	display: block;
}
.related-links .data {
	clear: both;
	float: right;
	width: 33.3333%;
	padding-left: 60px;
}
.related-links .title {
	clear: both;
	float: right;
	width: 33.3333%;
	font-size: 150%;
	padding-left: 60px;
	margin-bottom: 60px;
	font-family: 'Geometria-Bold';
}
.related-links ul {
	padding: 0px;
	display: block;
	list-style: none;
	font-size: 14.6px;
	margin: 0px !important;
}
.related-links ul li {
	display: block;
	margin: 10px 0px 0px;
}
.related-links ul li a {
	color: #103675;
	text-decoration: none;
	font-family: 'Geometria-Medium';
	transition: color .3s ease-in-out;
}
.related-links ul li a,
.theme-1 .related-links ul li a {
	color: #103675;
}
.theme-2 .related-links ul li a {
	color: #005a9f;
}
.theme-3 .related-links ul li a {
	color: #e8378b;
}
.theme-4 .related-links ul li a {
	color: #78b833;
}
.theme-5 .related-links ul li a {
	color: #fc9f3f;
}
.related-links ul li:before {
	content: normal !important;
}
.related-links ul li a:hover {
	color: #a0a2ad;
}
/*[Related links >]*/

/*[===Single >]*/

/*[Modal window <]*/
.window-container {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
	position: fixed;
	z-index: 10000000;
	background: rgba(255,255,255,.95);
}
.window-container .window-align {
	width: 100%;
	height: 100%;
	display: table;
}
.window-container .window-align .window-middle {
	padding: 15px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

/*[Window <]*/
.window {
	z-index: 100;
	margin: 0px auto;
	position: relative;
	display: inline-block;
}

/*[Box <]*/
.window .box {
	color: #000;
	text-align: left;
	background: #fff;
	padding: 80px 80px 60px;
	font-family: 'ProximaNova-Light';
	box-shadow: 5px 5px 30px 0px rgba(0,0,0,.3);

	@mixin screen_to, $mobile {
		padding: 34px 20px 20px;
	}
}
.window .box p {
	margin: 30px 0px 0px;
}
.window .box:after {
	clear: both;
	content: '';
	display: block;
}
.window .box:after {
	clear: both;
	content: '';
	display: block;
}
.window .box .title {
	font-size: 112.5%;
	margin-bottom: 25px;
	text-transform: uppercase;
	font-family: 'Geometria-Bold';
}
.window .box button.ok {
	display: block;
	margin: 60px auto 0px;
}
.window .box > :last-child {
	margin-bottom: 0px;
}
.window .box > :first-child {
	margin-top: 0px;
}
/*[Box >]*/

/*[Button close <]*/
.window > button.close {
	top: 10px;
	right: 10px;
	color: #fff;
	width: 30px;
	margin: 0px;
	padding: 0px;
	height: 30px;
	border: none;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-align: center;
	line-height: normal;
	text-transform: uppercase;
	background: url(/assets/img/elements/site/button/close-[38x36]-1-1.png) center no-repeat;
	transition: all .3s ease-in-out;
	background-size: 19px 17px;

	@mixin screen_to, $mobile {
		top: 3px;
		right: 5px;
	}
}
.window > button.close:hover,
.window > button.close:active {
	background-image: url(/assets/img/elements/site/button/close-[38x36]-1-2.png);
}
/*[Button close >]*/

/*[Window >]*/

/*[Modal window >]*/

/*[==Content main >]*/

/*[=Aside content >]*/

/*[=Default style <]*/

/*[Ol <]*/
.content ol {
	color: #000;
	padding: 0px;
	margin: 30px 0px;
	counter-reset: index;
	list-style: url(/assets/img/elements/blank.png);
}
.content ol li {
	display: block;
	margin-top: 10px;
	position: relative;
}
.content ol li p {
	margin: 0px;
}
.content ol li ol {
	margin: 15px 0px 15px 30px;
}
.content ol li:before {
	min-width: 15px;
	margin-right: 4px;
	display: inline-block;
	counter-increment: index;
	content: counter(index) '.';
}
.content ol li:first-child {
	margin-top: 0px;
}
.content ol li > :last-child {
	margin-bottom: 0px;
}
.content ol li > :first-child {
	margin-top: 0px;
}
/*[Ol >]*/

/*[Ul >]*/
.content ul {
	color: #000;
	padding: 0px;
	margin: 30px 0px 30px 20px;
	list-style: url(/assets/img/elements/blank.png);
}
.content ul li {
	display: block;
	margin-top: 10px;
	position: relative;
}
.content ul li p {
	margin: 0px;
}
.content ul li ul {
	margin: 15px 0px 15px 30px;
}
.content ul li:before {
	top: 0px;
	left: -18px;
	content: '\2022';
	line-height: 16px;
	font-size: 137.5%;
	position: absolute;
}
.content ul li:first-child {
	margin-top: 0px;
}
.content ul li > :last-child {
	margin-bottom: 0px;
}
.content ul li > :first-child {
	margin-top: 0px;
}
/*[Ul >]*/

/*[Img <]*/
/*img {
	height:auto;
	max-width:100%;
}*/
/*[Img >]*/

/*[Iframe <]*/
iframe {
	border: none;
}
/*[Iframe >]*/

/*[Figure <]*/
figure {
	padding: 0px;
	max-width: 1160px;
	position: relative;
	margin: 60px auto 80px;

	@mixin screen_to, $mobile {
		margin: 40px auto;
	}
}
figure .image {
	font-size: 0px;
	line-height: 0px;
	text-align: center;
	margin-bottom: 23px;
}
figure .image img {
	display: block;
}
/*[Figure >]*/

/*[Helpers <]*/
.hidden {
	top: -99999px !important;
	left: -99999px !important;
	position: fixed !important;
}

.bold {
	font-family: 'Geometria-Bold';
}
.medium {
	font-family: 'Geometria-Medium';
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}

.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}

.valign-top {
	vertical-align: top;
}
.valign-middle {
	vertical-align: middle;
}
.valign-bottom {
	vertical-align: bottom;
}

._mn-0 {
	margin: 0px !important;
}
._mn-top-0 {
	margin-top: 0px !important;
}
._mn-left-0 {
	margin-left: 0px !important;
}
._mn-right-0 {
	margin-right: 0px !important;
}
._mn-bottom-0 {
	margin-bottom: 0px !important;
}

._mn-30 {
	margin: 30px !important;
}
._mn-top-30 {
	margin-top: 30px !important;
}
._mn-left-30 {
	margin-left: 30px !important;
}
._mn-sides-30 {
	margin: 0px 30px !important;
}
._mn-right-30 {
	margin-right: 30px !important;
}
._mn-bottom-30 {
	margin-bottom: 30px !important;
}

._pg-0 {
	padding: 0px !important;
}
._pg-top-0 {
	padding-top: 0px !important;
}
._pg-left-0 {
	padding-left: 0px !important;
}
._pg-right-0 {
	padding-right: 0px !important;
}
._pg-bottom-0 {
	padding-bottom: 0px !important;
}

._pg-30 {
	padding: 30px !important;
}
._pg-top-30 {
	padding-top: 30px !important;
}
._pg-left-30 {
	padding-left: 30px !important;
}
._pg-sides-30 {
	padding: 0px 30px !important;
}
._pg-right-30 {
	padding-right: 30px !important;
}
._pg-bottom-30 {
	padding-bottom: 30px !important;
}

.lift-on-100 {
	margin-top: -100px !important;
}
.lower-on-100 {
	margin-bottom: -100px !important;
}
/*[Helpers >]*/

/*[Blockquote <]*/
blockquote._1 {
	max-width: 630px;
	margin: 30px auto;
	text-transform: uppercase;
	font-family: 'Geometria-Bold';

	p {
		font-size: 112.5%;
		line-height: 30px;
		margin: 25px 0px 0px;
	}
	.author {
		display: block;
		font-size: 87.5%;
		margin-top: 15px;
		text-transform: none;
		font-family: 'Geometria-Regular';
	}

	& > :last-child {
		margin-bottom: 0px;
	}
	& > :first-child {
		margin-top: 0px;
	}
}
/*[Blockquote >]*/

/*[Typography <]*/
p {
	margin: 25px 0px;
}

a {
	color: #0544ac;
	text-decoration: none;
	font-family: 'ProximaNova-Bold';
	transition: all .2s ease-in-out;

	&:hover {
		color: #9e9e9f;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: normal;
	font-weight: normal;
}

h1,
.title-h1 {
	font-size: 36px;
	max-width: 900px;
	margin: 100px auto 60px;
	font-family: 'Geometria-Bold';

	@mixin screen_from, $wide {
		font-size: 40px;
	}
	@mixin screen_to, $mobile {
		max-width: $mw;
		font-size: 26px;
		margin: 33px auto 32px;
	}
}
h2,
.title-h2 {
	font-size: 150%;
	max-width: 900px;
	margin: 60px auto 30px;
	font-family: 'Geometria-Bold';

	@mixin screen_to, $mobile {
		max-width: $mw;
		font-size: 22px;
		margin-top: 40px;
	}
}
h3,
.title-h3 {
	max-width: 900px;
	font-size: 112.5%;
	margin: 50px auto 25px;
	font-family: 'Geometria-Bold';

	@mixin screen_to, $mobile {
		max-width: $mw;
		font-size: 18px;
		margin-top: 40px;
	}
}

h4,
h5,
h6 {
	margin: 20px 0px 10px;
	font-family: 'Geometria-ExtraBold';
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}

a[href^='tel:'],
a[href^='tel:']:hover {
	color: inherit;
	border: none !important;
	text-decoration: inherit;
	font-family: 'ProximaNova-Light';
}
/*[Typography >]*/

/*[=Default style >]*/

/*[=Plugins style <]*/

/*[Autocomplete <]*/
.autocomplete-suggestions {
	overflow: auto;
	min-width: 509px;
	background: #fff;
	max-height: 325px;
	border-left: solid 1px #b7b7b7;
	border-right: solid 1px #b7b7b7;
	border-bottom: solid 1px #b7b7b7;
}
.autocomplete-suggestion {
	height: 65px;
	display: block;
	cursor: pointer;
	overflow: hidden;
	list-style: none;
	background: #fff;
	padding: 22px 20px;
	position: relative;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-top: solid 1px #e1e1e1;
	transition: background .3s ease-in-out;
}
.autocomplete-suggestion:hover,
.autocomplete-suggestion:active,
.autocomplete-suggestion.active {
	background: #f0f1f5;
}
.autocomplete-suggestion:last-child {
	border-bottom: none;
}
.autocomplete-suggestion:first-child {
	border-top: none;
}
/*[Autocomplete >]*/

/*[=Plugins style >]*/

.clearfix {
	clear: both;
}

/*****[> RESPONSE <]*****/
@media screen and (min-width:1320px) {
	body {
		font-size: 112.5%;
	}
}

/*[===> PRINT <===]*/
@media print {
	@page {
		margin: 1cm;
	}
	* {
		-webkit-print-color-adjust: exact;
	}

	#page {
		float: left;
	}
	.wrapper {
		left: 0px;
		padding: 0px;
		width: 1000px;
		min-width: 1000px;
		position: relative;
	}
	#page,
	nav.part,
	header.main,
	header.main .wrap {
		width: 1080px;
		min-width: 1080px;
	}
	.firefox #page,
	.firefox nav.part,
	.firefox header.main,
	.firefox header.main .wrap {
		width: 100%;
		min-width: 100%;
	}
	#page,
	.content,
	nav.main .partition {
		padding-bottom: 0px !important;
	}

	/*[Nav <]*/
	nav.part .wrap .parent {
		font-size: 18px;
	}
	nav.part .menu > ul > li > .link,
	nav.main .partition .menu > ul > li > .link {
		font-size: 14px;
	}
	nav.part .menu > ul > li > .link i,
	nav.main .partition .menu > ul > li > .link i {
		padding: 0px 20px;
	}
	nav.part .menu > ul > li.has-submenu > .link i:after,
	nav.main .menu > ul > li.has-submenu > .link i:after {
		content: normal !important;
	}
	/*[Nav <]*/

	/*[Title <]*/
	h1,
	.title-h1,
	h2,
	.title-h2,
	h3,
	.title-h3 {
		max-width: 1000px;
	}
	/*[Title <]*/

	/*[Hidden <]*/
	nav.lang,
	.files-box,
	footer.main,
	.link-block,
	.slick-dots,
	.page-options,
	nav.paginator,
	.feedback-form,
	nav.main .submenu,
	nav.main .solutions,
	header.main .search,
	header.main nav.main,
	header.main button.menu,
	.product-slider .navigation,
	.product-item .data .button {
		display: none !important;
	}
	/*[Hidden <]*/

	/*[Slider <]*/
	.product-slider {
		display: none;
	}
	.product-slider-print {
		display: block;
	}
	/*[Slider >]*/

	/*[Page break <]*/
	table,
	.product-slider-print {
		margin-top: 100%;
		page-break-before: always;
	}
	/*[Page break >]*/

}
/*[===> PRINT <===]*/


